<a href="https://colab.research.google.com/github/Haaahm/DA_School_1/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EC%8A%A4%EC%BF%A8_0428.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수

In [ ]:
def hello():
    return 10

In [ ]:
print(hello())

10

In [ ]:
# 함수의형태
def 부지매입():
    pass

def 설계도면작성():
    pass

def 인력모집():
    pass

def 벽돌쌓기():
    pass

def 지붕올리기():
    pass

부지매입()
설계도면작성()
인력모집()
벽돌쌓기()
지붕올리기()

In [4]:
# 파선아실  파라미터는 선언할 때, 아규먼트는 실행할 때

def function(x, y):
    z = x + y
    return z
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = 12

In [1]:
# 같은 코드 
def function(x, y):
    z = x + y
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = None

In [2]:
# 같은 코드
def function(x, y):
    z = x + y
    return None
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = None

In [3]:
# 전혀 다른 코드
def function(x, y):
    z = x + y
    print(None)
print(f'function(5, 7) = {function(5, 7)}')

None
function(5, 7) = None

In [6]:
def function(x,y): #Input
    z = x + y      #Function
    print(z)       #Output?
print("function(5,7) = ", function(5,7))

12
function(5,7) =  None

In [7]:
def function(x,y): #Input
    z = x + y      #Function
    print(z)       #Output?
print(f'function(5,7) = {function(5,7)}')

12
function(5,7) = None

In [ ]:
# return 은 함수가 있던 자리에 넣어주는 것

In [5]:
def function(x,y):
    return x + y
print("function(5,7) = ", function(5,7))

function(5,7) =  12

In [8]:
def function(x, y):
    print('hello')
    print('hello')
    print('hello')
    print('hello')
    return x + y

x = function(1, 1)
print(x + x)

hello
hello
hello
hello
4

In [9]:
def function1(x):
    print('world1')
    print('world2')
    print('world3')

def function2(x,y):
    print('hello1')
    print('hello2')
    return x + y

a = function1(1)
b = function2(3,4)
print(a, b)

world1
world2
world3
hello1
hello2
None 7

In [10]:
def function1(x):
    print('world1')
    print('world2')
    print('world3')
    return x + x

def function2(x,y):
    print('hello1')
    print('hello2')
    z = function1(10)
    return x + y + z

a = function1(1)
b = function2(3,4)
print(a, b)

world1
world2
world3
hello1
hello2
world1
world2
world3
2 27

In [13]:
# 함수 안에 있는 변수나 함수는 함수가 끝나면 휘발됩니다. 
# 메모리에서 사라져요.

def f2(x, y):
#####################
    def f1(x):
        print('world1')     
        return x + x
    print('hello1')          # 휘발된다
    z = f1(10)
    return x + y + z
########################

# a = f1(1) # 함수 안에 있는 함수는 밖에서 호출할 수 있지 않습니다.

b = f2(3, 4)
print(b)

# print(z) # 함수가 끝났기 때문에 x, y, y에 접근할 수 없습니다.

hello1
world1
27

In [ ]:
# 1
x = 100
def plusX(x):
    x = x + 100
    return x

print(plusX(10))

In [ ]:
# 2
x = 100
def plusX(z):
    z = z + x
    return z

print(plusX(10))

In [ ]:
# 3
# 문제가 생기는 코드
x = 100
def plusX(z):
    x = z + x
    return z

print(plusX(10))

In [ ]:
# 4
# 문제가 생기지 않는 코드
x = 100
def plusX(z):
    global x # 권하지 않습니다. 원본 x 값이 오염된다.
    x = z + x
    return z

print(plusX(10))
x

In [14]:
# 5
# 문제가 생기지 않는 코드
x = 100
def plusX(x):
    return x + 10

x = plusX(x)

In [ ]:
x = 100
def plusX(z):
  # v가 x를 가리키게 되었기 때문에 수정할 수 있는 권한이 들어오지 않았을까?
  # No
  v = x
  x = z + x
  return z

plusX(10)

In [ ]:
# def changePrint():
#   print = 100
#   return print

# changePrint()

In [ ]:
# print = 100
# print

In [ ]:
x = 100
def plusX():
    global x # 권장하지 않습니다.
    x += 100

plusX()
x

## 재귀함수

In [ ]:
# 대부분의 코드는 for로 대체할 수 있습니다.
# 효율도 매우 좋지 않습니다. 다만 메모라이징 기법을 사용하면 좋긴합니다.
# 다이나믹 프로그래밍 등 필수적으로 사용되는 곳이 있기도 합니다.

In [ ]:
# #sys.setrecursionlimit -> 제한을 늘릴 수 있음
# def 숫자출력():
#     print(1)
#     return 숫자출력()
# 숫자출력()

In [15]:
def factorial(n):
    if n == 1:
        return n
    return n * factorial(n-1)

factorial(5)

#factorial(5) = 5 * factorial(4) = 5 * 24 = 120
#factorial(4) = 4 * factorial(3) = 4 * 6 = 24
#factorial(3) = 3 * factorial(2) = 3 * 2 = 6
#factorial(2) = 2 * factorial(1) = 2 * 1 = 2
#factorial(1) = 1

120

In [16]:
result = 1
for i in range(1, 6):
    result *= i

result

120

In [17]:
s = 'leehojun'
result = ''
for i in s:
    result = i + result

result

'nujoheel'

In [18]:
for i in 'leehojun':
    print(i)

l
e
e
h
o
j
u
n

In [19]:
def string_reverse(s):
    if len(s) == 1:
        return s
    return string_reverse(s[1:]) + s[0]

string_reverse('hello')

# string_reverse('hello') == string_reverse('ello') + 'h' == 'olle' + 'h' == 'olleh'
# string_reverse('ello') == string_reverse('llo') + 'e' == 'oll' + 'e' == 'olle'
# string_reverse('llo') == string_reverse('lo') + 'l' == 'ol' + 'l' == 'oll'
# string_reverse('lo') == string_reverse('o') + 'l' == 'o' + 'l' == 'ol'
# string_reverse('o') == 'o'

'olleh'

In [ ]:
# 피보나치 수열, 얼마나 재귀함수가 느리고 비효율적인지 알려주는 코드
def fib(num):
    if num == 0:
        return 0
    if num == 1 or num == 2:
        return 1
    else:
        return fib(num-1) + fib(num-2)

fib(35)

In [ ]:
# 데코레이터를 사용한 피보나치 수열, 비교적 빨라졌다.
from functools import lru_cache

@lru_cache(maxsize=None)
def fib(num):
    if num == 0:
        return 0
    if num == 1 or num == 2:
        return 1
    else:
        return fib(num-1) + fib(num-2)

fib(40)

* 연습문제

In [27]:
a = 'pithon'

def 함수1():
    def 함수2():
        print('love')    # 2
        
    print('I')           # 1
    함수2()
    return 'python'      # 3


a = 함수1()
print(a)

I
love
python

In [ ]:
# if 문을 배웠다면 좋은 코드는 아니다.

def plus(num1, num2):
    return num1 + num2

def minus(num1, num2):
    return num1 - num2

def multiply(num1, num2):
    return num1 * num2

def divide(num1, num2):
    return num1 / num2

print('plus : ',plus(10,5))
print('minus : ',minus(10,5))
print('multiply : ',multiply(10,5))
print('divide : ',divide(10,5))

In [28]:
def plus(num1, num2):
    try:
        result = int(num1) + int(num2)
        return result
    except:
        return '연산할 수 없습니다.'

# 견고한 코드를 짜려면 테스트가 필요하다.
print(f'plus : {plus(10, 5)}')
print(f'plus : {plus("10", "5")}')
print(f'plus : {plus("10", 5)}')
print(f'plus : {plus(10, "5")}')
print(f'plus : {plus("abc", 5)}')
print(f'plus : {plus(10, "abc")}')

plus : 15
plus : 15
plus : 15
plus : 15
plus : 연산할 수 없습니다.
plus : 연산할 수 없습니다.

In [29]:
def plus(num1, num2):
    try:
        result = int(num1) + int(num2)
        return result
    except:
        return float("inf")  # inf 는 무한 수

print(f'plus : {plus(10, 5)}')
print(f'plus : {plus("10", "5")}')
print(f'plus : {plus("10", 5)}')
print(f'plus : {plus(10, "5")}')
print(f'plus : {plus("abc", 5)}')
print(f'plus : {plus(10, "abc")}')

plus : 15
plus : 15
plus : 15
plus : 15
plus : inf
plus : inf

In [30]:
# 예시
float("inf") > 1000000000000000000000

True

In [31]:
plus = lambda x, y: x + y
minus = lambda x, y: x - y
multiply = lambda x, y: x * y
divide = lambda x, y: x / y

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

plus : 15
minus : 5
multiply : 50
divide : 2.0

x의 n제곱을 구하는 함수를 만들어주세요.

재귀함수를 이용하여 만들어야하며, x는 0이 아닙니다.

In [34]:
def 제곱(x, n) :
    if n == 0 :
        return 1
    return x * 제곱(x, n-1)

제곱(3, 4)

81

In [35]:
# factory 함수
# 클로저
def factory(x):
    def 승수(n):
        return x ** n
    return 승수

제곱3 = factory(3)

# 실제 제곱3는 아래와 같습니다.
# def 승수(n):
#     return 3 ** n

제곱4 = factory(4)

제곱3(2)
제곱3(3)
제곱4(2)
제곱4(3)

64

## 리스트

* 순서가 있는 데이터입니다.
* 값의 수정이 가능합니다.
*

In [36]:
ㅣ = [10, 20 ,30, 40]

In [37]:
ㅣ[0]

10

In [38]:
ㅣ[0] = 1000
ㅣ # mutable 한 객체 <-> immutable 한 객체 (문자열)

[1000, 20, 30, 40]

In [ ]:
s = 'hello'
s[0] =  'k' # error! immutable한 객체

In [42]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [43]:
data[0]

[1, 2, 3]

In [44]:
data[0][0]

1

In [45]:
data[0][0] = data[0][0] * 2
data

[[2, 2, 3], [4, 5, 6], [7, 8, 9]]

In [47]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
data[0][0] = data[0][0] * 2
data[0][1] = data[0][1] * 2
data[0][2] = data[0][2] * 2
data[1][0] = data[1][0] * 2
data[1][1] = data[1][1] * 2
data[1][2] = data[1][2] * 2
data[2][0] = data[2][0] * 2
data[2][1] = data[2][1] * 2
data[2][2] = data[2][2] * 2
data

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

In [48]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for i in range(3):
    data[i][0] = data[i][0] * 2
    data[i][1] = data[i][1] * 2
    data[i][2] = data[i][2] * 2
data

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

In [ ]:
for i in range(len(data)):
    for j in range(len(data[1])):
        data[i][j] *= 2

data

In [59]:
# data[start:stop:stop]
data = [10, 20, 30, 40, 50, 60, 70]
data[1:]
data[1:-1]
data[::2]
data[:] # 매우 중요!!

[10, 30, 50, 70]

In [50]:
data = [10, 20, 30, 40, 50, 60, 70]
data2 = data
data2[0] = 100
data2, data

([100, 20, 30, 40, 50, 60, 70], [100, 20, 30, 40, 50, 60, 70])

In [51]:
data = [10, 20, 30, 40, 50, 60, 70]
data2 = data[:] # data[::2]
data2[0] = 100
data2, data

([100, 20, 30, 40, 50, 60, 70], [10, 20, 30, 40, 50, 60, 70])

In [52]:
[1, 2, 3] + [1, 2, 3]

[1, 2, 3, 1, 2, 3]

In [53]:
[1, 2, 3] * 2

[1, 2, 3, 1, 2, 3]

In [58]:
l = [10, 20, 30, 40]
l.append(50)
l

[10, 20, 30, 40, 50]

In [57]:
l = [10, 20, 30, 40]
l.pop()
l

[10, 20, 30]

In [54]:
l = [10, 20, 30, 40]
l.clear()
l

[]

In [55]:
l = [10, 20, 30, 40]
data = l.copy()  # == data = l[:]
data[0] = 1000
l, data

([10, 20, 30, 40], [1000, 20, 30, 40])

In [56]:
l = [10, 20, 30, 40]
data = l
data[0] = 1000
l, data

([1000, 20, 30, 40], [1000, 20, 30, 40])

In [60]:
l = [10, 20, 30, 40, 10, 10, 10]
l.count(10)

4

In [61]:
l = [10, 20, 30, 40, 10, 10, 10]
l.extend([1, 2, 3, 4, 5])
l

[10, 20, 30, 40, 10, 10, 10, 1, 2, 3, 4, 5]

In [62]:
l = [10, 20, 30, 40, 10, 10, 10]
l.append([1, 2, 3, 4, 5])
l

[10, 20, 30, 40, 10, 10, 10, [1, 2, 3, 4, 5]]

In [63]:
l = [10, 20, 30, 40, 10, 10, 10]
l.insert(2, 10000)
l

[10, 20, 10000, 30, 40, 10, 10, 10]

In [67]:
l = [10, 20, 10000, 30, 40, 10, 10, 10]
l.index(10000)

2

In [68]:
l = [10, 20, 30, 40, 10, 10, 10]
l.remove(10)
l

[20, 30, 40, 10, 10, 10]

In [70]:
l = [10, 20, 30, 40, 10, 10, 10]  #권하지 않습니다.
for i in range(l. count(10)):
    l.remove(10)
l

[20, 30, 40]

In [71]:
# 실무에서 많이 사용하는 코드입니다.
# 어떤 값을 찾아내거나, 조건에 맞는 코드를 추출할 때 사용
def 함수(x):
    return x != 10

l = [10, 20, 10000, 30, 40, 10, 10, 10]
list(filter(함수, l))

[20, 10000, 30, 40]

In [72]:
l = [10, 20, 10000, 30, 40, 10, 10, 10]
list(filter(lambda x: x != 10, l))

[20, 10000, 30, 40]

In [73]:
filter(lambda x: x != 10, l) #메모리의효율을 극대화 하기위해서 이렇게 작업한다.

In [75]:
for i in filter(lambda x: x != 10, l):
    print(i)

20
10000
30
40

In [76]:
l = [10, 20, 30, 10, 20, 30, 1, 2, 55, 11]
l.reverse() # l을 직접 만집니다. 역 정렬 아닙니다. 역순일 뿐입니다.
l

[11, 55, 2, 1, 30, 20, 10, 30, 20, 10]

In [78]:
l = [10, 20, 30, 10, 20, 30, 1, 2, 55, 11]
print(list(reversed(l))) # l을 직접 만지지 않습니다.
print(l)

[11, 55, 2, 1, 30, 20, 10, 30, 20, 10]
[10, 20, 30, 10, 20, 30, 1, 2, 55, 11]

In [79]:
l = [10, 20, 30, 10, 20, 30, 1, 2, 55, 11]
l.sort()  # l을 직접 만집니다.
l

[1, 2, 10, 10, 11, 20, 20, 30, 30, 55]

In [81]:
l = [10, 20, 30, 10, 20, 30, 1, 2, 55, 11]
l.sort()  
l.reverse() # sort와 함께 사용했으니 역 정렬.
l

[55, 30, 30, 20, 20, 11, 10, 10, 2, 1]

In [80]:
l = [10, 20, 30, 10, 20, 30, 1, 2, 55, 11]
print(list(sorted(l))) # l을 직접 만지지 않습니다.
print(l)

[1, 2, 10, 10, 11, 20, 20, 30, 30, 55]
[10, 20, 30, 10, 20, 30, 1, 2, 55, 11]

In [82]:
l = [10, 20, 30, 10, 20, 30, 1, 2, 55, 11]
print(list(sorted(l, reverse = True))) # 내림차순

[55, 30, 30, 20, 20, 11, 10, 10, 2, 1]

In [85]:
l = [[1, 10, 'leehojun'], 
     [20, 30, 'hojun'], 
     [10, 20, 'weniv'], 
     [1, 2, 'likelion'], 
     [55, 11, 'sun']]

# 1. 글자 수 대로 정렬해주세요.
def 함수(x):
    return len(x[2])

print(list(sorted(l, key=함수)))
print(list(sorted(l, key=lambda x:len(x[2]))))

# 2. 맨 앞에 위치한 숫자대로 정렬해주세요.
def 함수2(x):
    return x[0]

print(list(sorted(l)))
print(list(sorted(l, key=함수2)))
print(list(sorted(l, key=lambda x:x[0])))

# 3. 중앙에 위치한 값대로 정렬해주세요.
def 함수3(x):
    return x[1]

print(list(sorted(l)))
print(list(sorted(l, key=함수3)))
print(list(sorted(l, key=lambda x:x[1])))

[[55, 11, 'sun'], [20, 30, 'hojun'], [10, 20, 'weniv'], [1, 10, 'leehojun'], [1, 2, 'likelion']]
[[55, 11, 'sun'], [20, 30, 'hojun'], [10, 20, 'weniv'], [1, 10, 'leehojun'], [1, 2, 'likelion']]
[[1, 2, 'likelion'], [1, 10, 'leehojun'], [10, 20, 'weniv'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 10, 'leehojun'], [1, 2, 'likelion'], [10, 20, 'weniv'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 10, 'leehojun'], [1, 2, 'likelion'], [10, 20, 'weniv'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 2, 'likelion'], [1, 10, 'leehojun'], [10, 20, 'weniv'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 2, 'likelion'], [1, 10, 'leehojun'], [55, 11, 'sun'], [10, 20, 'weniv'], [20, 30, 'hojun']]
[[1, 2, 'likelion'], [1, 10, 'leehojun'], [55, 11, 'sun'], [10, 20, 'weniv'], [20, 30, 'hojun']]

In [86]:
l = [[1, 10, 32], 
     [20, 30, 11], 
     [10, 20, 22], 
     [1, 2, 13], 
     [55, 11, 44]]


# 4. 3개의 전체 합대로 출력해주세요.
def 함수4(x):
    return sum(x)

print(list(sorted(l, key=함수4)))
print(list(sorted(l, key=lambda x:sum(x))))
print(list(sorted(l, key=sum)))

[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]