In [ ]:
# 1000만원 이상 10번 이상 방문시 VIP
# 200만원 이상 5번이상 방문시 Gold
# 50만원 3번 이상 방문시 Silver
# 10만원 이상 normal

In [ ]:
if 금액 >= 1000만원 and 방문횟수 >= 10번:
  print("VIP입니다")
elif 금액 >= 200만원 and 방문횟수 >= 5번:
  print("Gold")
elif 금액 >= 50만원 and 방문횟수 >= 3번:
  print("Sliver")
elif 금액 >= 10만원:
  print("normal")
else:
  print("기타")

SyntaxError: ignored

* and 구문을 사용할때는 생각을 먼저 한 번 해볼 것
* 조건이 2가지 이상일 경우에는 좀더 조심스러운 접근이 필요하다.

#1.1 조건문을 만들때 주의사항

* 어떤 조건을 설정할것인가?
* 어떤 예외가 발생할것인가?(테스트, 검증)
* (조건문이 작성된 뒤에는) 최소 5~10번정도는 테스트 해봐라

#1.2 조건문 복습

조건문은 다음과 같이 복습하려고 합니다.

1. 단일 조건문
2. If - else 조건문
3. If - elif - else 조건문
4. 다중 중첩 조건문
5. input과 함께 사용하는 조건문

[기억해야할것]

1. if 뒤에는 참과 거짓을 판단하는 조건이 와야함
2. 조건문이 끝나면 반드시 콜론으로 끝나야함
3. if 다음 문장은 들여쓰기를 사용해야함
4. if 조건에 부합하지 않으면 elif나 else를 사용한다. 보통 조건에 모두 부합하지 않을때 else를 사용한다.

[연산자]

* x < x가 작다
* x > x가 크다
* x == y 같다
* x != y 다르다
* x >= y 크거나 같다
* x <= y 작거나 같다

[논리연산자]
2개이상의 조건을 사용하고 싶을때 사용

* and
* or
* not

In [ ]:
# if문 예제

x = 2
if x > 1 and x < 10:  # 2가지 조건이 모두 충족할 경우
  print('True')

True

In [ ]:
if True:
  print('True')

True

In [ ]:
if True:
    print('hello') 
print('one')

if False:
    print('world')
print('two')

hello
one
two

In [ ]:
# 1) if는 참이기 때문에 Hello가 출력
if True:
  print('hello') 

# if문과 상관 없음
print('one')

# if는 거짓이기 때문에 아무것도 출력되지 않음
if False:
  print('world')

# if문과 상관 없음
print('two')

hello
one
two

In [ ]:
if True:
  print('hello')

hello

In [ ]:
print('one')

one

In [ ]:
if False:
  print('world')

In [ ]:
print('two')

two

In [ ]:
x = 10

if x > 5:
  print('hello')
print('end')

if x != 5:
  print('hello')

hello
end
hello

In [ ]:
if 1: # 1 = True
  print('hello')
print('end')

hello
end

In [ ]:
if 0:
  print('hello')
print('end')

end

In [ ]:
if -1:
  print('hello')
print('end')

hello
end

In [ ]:
#공백이 있는 문자열
if  ' ':
    print('hello')
print('end')

hello
end

In [ ]:
#공백이 없는 문자열
if '':
    print('hello')
print('end')

end

In [ ]:
if not '':
    print('hello')
print('end')

hello
end

In [ ]:
if not None: #None은 False와 같은의미라고 생각하시면 됩니다.
    print('hello')
print('end')

hello
end

In [ ]:
if None: 
    print('hello')
print('end')

end

In [ ]:
# if, else 문

x = int(input('비교할 수를 입력하세요 : '))
y = int(input('비교할 수를 입력하세요 : '))

if x > y: # False
  print("x가 y보다 큽니다")
else: # True
  print("x가 y보다 작거나 같습니다 ")

비교할 수를 입력하세요 : 4
비교할 수를 입력하세요 : 15
x가 y보다 작거나 같습니다

In [ ]:
# if, elif, else 
if 조건문:
  수행문장1
else 조건문:
  수행문장2
else:
  수행문장3

In [ ]:
if x > y: # False
  print("x가 y보다 큽니다")
elif x < y: #True
  print("x가 y보다 작습니다.")
else: # 실행 x
  print("같습니다")

x가 y보다 작습니다.

In [ ]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
elif score >= 80:
    print('mom : i\'m happy!')
    money += 100000
elif score >= 70 and score < 80:
    print('mom : i\'m so...!')
    money += 10000
elif score >= 60 and score < 70:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
100000

In [ ]:
# 중첩 조건문

#if를 중첩해서 사용하기
score = 98

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
    
    if score > 95:
        print('hello world')

        if score > 97:
            print('hello!!!')
            
elif score >= 80:
     print('mom : i\'m happy!')
     money += 100000
print(money)

mom : i'm so happy!
hello world
hello!!!
4100000

# 조건문

## 1.0 조건문을 만들때 고려사항

* 어떤 조건을 설정할것인가?
* 어떤 예외가 발생하는가?
* (조건문을 작성한 후에) 최소 5번정도 테스트를 해봐라

이 조건을 미리 생각하지 않으면 길을 잃을수도 있다.

#1.1 조건문 복습

조건문은 다음과 같이 복습하려고 합니다.

1. 단일 조건문
2. If - else 조건문
3. If - elif - else 조건문
4. 다중 중첩 조건문
5. input과 함께 사용하는 조건문

[기억해야할것]

1. if 뒤에는 참과 거짓을 판단하는 조건이 와야함
2. 조건문이 끝나면 반드시 콜론으로 끝나야함
3. if 다음 문장은 들여쓰기를 사용해야함
4. if 조건에 부합하지 않으면 elif나 else를 사용한다. 보통 조건에 모두 부합하지 않을때 else를 사용한다.

[연산자]

* x < x가 작다
* x > x가 크다
* x == y 같다
* x != y 다르다
* x >= y 크거나 같다
* x <= y 작거나 같다

[논리연산자]
2개이상의 조건을 사용하고 싶을때 사용

* and
* or
* not

#1.1.1 단일 조건문

* 조건이 하나일때 사용하는 조건문

In [ ]:
# 1.1.1 단일 조건문 예시
# if 조건:
#   실행할 명령

# 예제1. 숫자열 입력할 경우

total = 5

if total > 0:
    print(f'{total} 인이 입장하였습니다.')

5 인이 입장하였습니다.

In [ ]:
# 예제2. 숫자열 입력시 오류

total = input('몇명이 들어왔나요?')

if total > 0:
  print(f'{total} 인이 입장하였습니다.')

몇명이 들어왔나요?5

TypeError: ignored

In [ ]:
# 예제3. 문자열 입력할때

whether = input("오늘 날씨는 어떤가요?")

if whether != "":
  print(f"오늘 날씨는 {whether}입니다.")

오늘 날씨는 어떤가요?맑음
오늘 날씨는 맑음입니다.

In [ ]:
# 예제4. 2개 이상 조건일때? and

# if 조건1 and 조건2

# 1. 오늘 날씨가 어떤가요? ""이 아닐때
# 2. 오늘 기온이 어떤가요? 0도 이상일때 따뜻합니다.

whether = input("오늘 날씨가 어떤가요?")
temper = int(input("오늘 기온이 어떤가요?"))

if whether != "" and temper > 0:
  print(f"오늘 날씨는 {whether}입니다. \n 오늘 기온은 {temper}입니다.")

오늘 날씨가 어떤가요?맑음
오늘 기온이 어떤가요?22
오늘 날씨는 맑음입니다.
 오늘 기온은 22입니다.

In [ ]:
# 예제5. if문을 쓸때 헷갈리는 것

job = input("직업이 있나요?")

if job == '예':
    print("직업이 있습니다.")

직업이 있나요?예
직업이 있습니다.

In [ ]:
# 연습문제 1
# 몇번이 답일까요?

1) if (x == 10)
    print('10입니다.')
2) if x == 10
    print('10입니다.')
3) if x == 10:
    print('10입니다.')
4) if x == 10:
print('10입니다')
5) if x = 10:
    print('10입니다')

답은 3번

### 1.1.3 다중 조건문 - if elif else문

조건이 3개 이상인 경우 사용이 되고, else대신에 elif 마무리는 else하는 것을 추천

In [ ]:
# if 조건1:
#   실행 문장 1
#   문장
# elif 조건2:
#   실행 문장 2
#   문장
# else:
#   실행 문장 3

total = int(input("몇명이 들어왔나요?"))

if total > 5:
    print(f'{total} 명이 들어왔습니다. 많이 들어왔네요')
elif total > 0 and total <= 5:
    print(f'{total} 명이 들어왔습니다. 적게 들어왔네요')
else:
    print("잘못된 정보를 입력하였습니다.")

몇명이 들어왔나요?4
4 명이 들어왔습니다. 적게 들어왔네요

In [ ]:
# 예제2. 문자열 입력 시

whether = input('오늘 날씨는 어떤가요?')

if whether == '맑음':
    print(f'오늘 날씨는 {whether}입니다. 옷을 얇게 입고 가시는 건 어떨까요?')
elif whether == '미세먼지':
    print(f'오늘 날씨는 {whether}입니다. 마스크를 쓰고 가시는 건 어떨까요?')
else:
    print('날씨가 입력되지 않았습니다.')

오늘 날씨는 어떤가요?미세먼지
오늘 날씨는 미세먼지입니다. 마스크를 쓰고 가시는 건 어떨까요?

In [ ]:
#예제3. 코드를 짜다가 생각이 나지 않아서.. 

# 코드

# 역할 무언가있다 
number = 0

if number > 0:
  pass
else:
  pass

# 코드

In [ ]:
number = 0

if number > 0:
  raise NotImplementedError
else:
  raise NotImplementedError

NotImplementedError: ignored

### 1.1.4 삼항 연산자

[사용방법]
* 참일때의 값 / if / 조건식 / else / 거짓일때 값
* 변수로 바로 할당할 수 있음

In [ ]:
# 삼항 연산자 예시

age = 21

# 참일때의 값 / if / 조건식 / else / 거짓일때 값
is_adult = "성인입니다." if age > 20 else "미성년자입니다."

print(is_adult)

성인입니다.

#1.1.5 중첩 조건문

* if안에 또 다른 if를 넣어서 다양한 Case를 만족 시키는 방법

In [ ]:
# 중첩 조건문 예시

apple = input("사과의 상태를 입력하세요(좋음, 나쁨)")

if apple == "좋음":
  appleprice = int(input("사과 한개당 가격 입력"))
  if appleprice < 1000:
    print("10개를 산다.")
    print(f"사과 가격은 {appleprice * 10} 원 입니다.")

In [ ]:
# 중첩 조건문 예시

apple = input("사과의 상태를 입력하세요(좋음, 나쁨)")

if apple == "좋음":
  appleprice = int(input("사과 한개당 가격 입력"))
  if appleprice < 1000:
    print("10개를 산다.")
    print(f"사과 가격은 {appleprice * 10} 원 입니다.")
  else:
    print("5개를 산다")
    print(f"사과 가격은 {appleprice * 5}원 입니다.")
else:
  print("사과를 안산다")

사과의 상태를 입력하세요(좋음, 나쁨)나쁨
사과를 안산다

In [ ]:
# (True False)
# True = 1 False 0

if 0:
  print("0은 True로 변환합니다.")
else:
  print("0은 False로 변환합니다.")

0은 False로 변환합니다.

In [ ]:
if "":
  print("0은 True로 변환합니다.")
else:
  print("0은 False로 변환합니다.")

0은 False로 변환합니다.

In [ ]:
# 조건문 문제 1. 맞는 것을 선택해주세요

# 1. 하나의 조건문에서 if는 한번만 사용할 수 있다.
# 2. 하나의 조건문에서 elif는 여러번 사용할 수 있다.
# 3. else문은 모든 조건을 만족하지 않을때 사용된다.
# 4. else문은 생략할 수 없다.

# 답은 2번, 3번

In [ ]:
# 조건문 문제 2. 어떤게 답일지 적어주세요.
if 4 == '4':
  print(True)
else:
  print(False)

# A. True
# B. False
# C. SyntaxError
# D. ValueError
# E. None

False

In [ ]:
#  테킷 숙소에는 객실당 4인에 10만원을 내야하고,
# 1인이 추가 될때마다 추가비용이 발생되는데 실행결과로 올바른것은?

total = 2 # 총인원
if total <= 4:
  print("숙소비용 10만원")
else:
  print("추가 비용 발생")
print("이용해 주셔서 감사합니다.")

# 1. 숙소비용 10만원
#    추가비용 발생
#    이용해 주셔서 감사합니다.

# 2. 추가 비용 발생
#    이용해주셔서 감사합니다. 

# 3. 추가 비용 발생
#     

# 4. 숙소비용 10만원
#    이용해주셔서 감사합니다.

숙소비용 10만원
이용해 주셔서 감사합니다.

In [ ]:
#문제 4. 다음 코드의 실행결과로 맞는 것은?
# 입력된 나이에 따라 학교를 구분하는 조건문
# 나이로 7을 입력했을때의 결과는?

year = int(input('나이를 입력하세요'))

# year = int(input('나이를 입력하세요'))   int() 를 안넣으면 오류가 난다.

if 1 <= year <= 7:
  print("미취학 아동입니다.")
elif 8 <= year <= 13:
  print("초등학생입니다.")
elif 14 <= year <= 16:
  print("중학생입니다.")
elif 17 <= year <= 19:
  print("고등학생입니다.")
elif 20 <= year <= 26:
  print("대학생입니다.")
else:
  print("정수를 입력해주세요")

# 1. 정수를 입력해주세요
# 2. 대학생입니다.
# 3. 중학생입니다.
# 4. 미취학 아동입니다.
# 5. error 발생

나이를 입력하세요7
미취학 아동입니다.

In [ ]:
# 문제 5번. 문자열로 ABC

year = int(input('나이를 입력하세요'))

if 1 <= year <= 7:
  print("미취학 아동입니다.")
elif 8 <= year <= 13:
  print("초등학생입니다.")
elif 14 <= year <= 16:
  print("중학생입니다.")
elif 17 <= year <= 19:
  print("고등학생입니다.")
elif 20 <= year <= 26:
  print("대학생입니다.")
else:
  print("정수를 입력해주세요")

# 1. 정수를 입력해주세요
# 2. 대학생입니다.
# 3. 중학생입니다.
# 4. 미취학 아동입니다.
# 5. error 발생

# 답은 5번

In [ ]:
# 문제 6번. 입력값과 결과값이 동일하게 나오려면 어떤 값을 입력해야 할까요?

x = int(input())
if 15 < x < 20:
  print(x + 3)
elif 21 < x < 30:
  print(x - 5)
else:
  print(f'{x}입니다.')

# 1. 26
# 2. 17
# 3. 10
# 4. 20
# 5. 30

# 답은 3,4,5

In [ ]:
# 문제 7번. 다음과 같이 코드를 작성했을때, 실행결과로 알맞은 것은?

my_list = ['i','like','to','study','python']
new_list = []

i = len(my_list)
if i == 5:
  new_list.append(my_list[::2])
print(new_list)

# 1. [['i','to','python']]
# 2. [['like','study']]
# 3. ['i','to','python']
# 4. ['like','study']
# 5. ['i','like']
# 6. [['i', 'like']]
# 7. None

# append를 사용하게 되면 리스트를 가져오게되어 2차원 리스트가 작성된다
# 답은 1번

[['i', 'to', 'python']]

In [ ]:
# 문제 8번. 다음과 같이 코드를 작성했을때, 실행결과로 알맞은 것은?

my_list = ['i','like','to','study','python']
new_list = []

i = len(my_list)
if i == 5:
  new_list.append(my_list[0:2])
print(new_list)

# 1. [['i','to','python']]
# 2. [['like','study']]
# 3. ['i','to','python']
# 4. ['like','study']
# 5. ['i','like']
# 6. [['i', 'like']]
# 7. None

[['i', 'like']]

In [ ]:
# 문제 9번. 다음과 같이 코드를 작성하였을때, 실행결과로 알맞은 것은?
my_list = ['i','like','to','study','python']
new_list = []

i = len(my_list)
if i == 5:
  new_list.extend(my_list[::2])
print(new_list)

# 1. [['i','to','python']]
# 2. [['like','study']]
# 3. ['i','to','python']
# 4. ['like','study']
# 5. ['i','like']
# 6. [['i', 'like']]
# 7. None

# extend를 사용하게 되면 리스트안에서 뽑아오게되어 1차원 리스트가 작성된다
# 답은 3번

['i', 'to', 'python']

# 실습 문제 풀어보기

문제 1. 대학교 학점은 다음과 같이 되어있음

* A - 90점 이상 
* B - 80점 이상
* C - 60점 이상
* D - 40점 이상
* F - 40점 이하 
* 결석이 3번인 경우 무조건 F

중첩 조건문 또는 연산자를 활용하여 if문을 작성해보세요

In [ ]:
# 1) 학점을 조건으로 어떻게 나눌까?
# 2) else에는 어떤것을 할당할까?
# 3) 값을 어떻게 받을까? 

score = int(input('점수를 입력하세요'))
nc = int(input('결석횟수를 입력하세요'))

if nc <= 2:
    if score < 40:
        print("F학점 입니다.")
    elif 40 <= score <= 59:
        print("D학점 입니다.")
    elif 60 <= score <= 79:
        print("C학점 입니다.")
    elif 80 <= score <= 89:
        print("B학점 입니다.")
    elif 90 <= score <= 100:
        print("A학점 입니다.")
else:
    print("F학점 입니다.")

점수를 입력하세요50
결석횟수를 입력하세요1
D학점 입니다.

문제 2. 숫자를 입력했을때 짝수와 홀수를 구분하는 if문을 작성해주세요

In [ ]:
# 1) 짝수와 홀수를 어떻게 구분할것인가?
# 2) 숫자로 input을 받아야한다.
# 3) 출력은 어떻게 할것인가?

In [ ]:
num = int(input("숫자를 입력하세요: "))

if num % 2 == 0:
  print(f"입력한 숫자 {num}는 짝수입니다.")
else:
  print(f"입력한 숫자 {num}는 홀수입니다.")

숫자를 입력하세요: 15
입력한 숫자 15는 홀수입니다.

In [ ]:
# 1) 짝수와 홀수를 어떻게 구분할것인가?
# 2) 숫자로 input을 받아야한다.
# 3) 출력은 어떻게 할것인가?

# 문자열
number = input('정수 입력')

# 문자열에서 뒤에서 1개를 가져와서
last_character = number[-1]

# 정수화 시킨다.
last_number = int(last_character)

# 0 ~ 9 숫자만이 last_number

# 짝수 확인
if last_number == 0 or last_number == 2 or last_number == 4 or last_number == 6 or last_number == 8:
  print("짝수입니다.")

if last_number == 1 or last_number == 3 or last_number == 5 or last_number == 7 or last_number == 9:
  print("홀수입니다.")

정수 입력22
짝수입니다.

In [ ]:
number = input("정수 입력 > ")
last_character = number[-1]

# 짝수 조건
if last_character in "02468":
    print("짝수입니다")
    
# 홀수 조건
if last_character in "13579":
    print("홀수입니다.")

In [ ]:
number = input("정수 입력 > ")
number = int(number)

# 짝수 조건
if number % 2 == 0 :
    print("짝수입니다")
    
# 홀수 조건
if number % 2 == 1 :
    print("홀수입니다")

# 문제 3.

* money에는 현재 돈이 얼마 있는지 input으로 받고
* 커피는 600원 1000원 1500원 세가지가 있습니다.
* 돈이 있어서 커피를 샀으면 거스름돈을 계산하고 만약에 돈이 부족하면 메세지를 띄워주세요

In [ ]:
print("My coffee에 오신것을 환영합니다.")

money = int(input("현재 지갑에는 얼마가 있나요?"))

print("커피를 고르세요")

choice = int(input('[1] 에스프레스 600원, [2] 아메리카노 1000원, [3] 라떼 1500원'))

if choice == 1:
  price = 600
elif choice == 2:
  price = 1000
elif choice == 3:
  price = 1500
else:
  price = 0

if money >= price:
  print(f"거스름돈은 {money - price} 입니다.")
else:
  print('돈이 부족합니다.')

My coffee에 오신것을 환영합니다.
현재 지갑에는 얼마가 있나요?500
커피를 고르세요
[1] 에스프레스 600원, [2] 아메리카노 1000원, [3] 라떼 1500원3
돈이 부족합니다.

In [ ]:
money = int(input("지갑 속 잔액을 입력해주세요: "))
coffee_choice = [600, 1000, 1500]
choice = int(input('먹고 싶은 커피의 금액을 입력해주세요: '))

if money - choice >= 0:
    print(f'거스름돈은 {money - choice}원 입니다.')
else:
    print(f'잔액이 {choice - money}원 부족합니다.')
    print(f'{choice - money}원을 보충하시거나')
    print('가격이 더 저렴한 커피를 골라주세요.')

지갑 속 잔액을 입력해주세요: 900
먹고 싶은 커피의 금액을 입력해주세요: 600
거스름돈은 300원 입니다.

In [ ]:
money = int(input("현재 돈을 입력하세요: "))
price_list = [600, 1000, 1500]

for price in price_list:
    if money >= price:
        change = money - price
        print(f"{price}원 커피를 구매하였습니다. 거스름돈은 {change}원 입니다.")
        break
else:
    print("돈이 부족합니다.")

현재 돈을 입력하세요: 60
돈이 부족합니다.

In [ ]:
#교통카드 시스템 만들기

if 7 <= age <= 12:
  print('학생입니다.')
  balance -= 650
  if balance < 0:
    balance += 650
    print('잔액이 부족합니다.')

else:
  print("미성년자는 무료탑승입니다.")

NameError: ignored

문제 5. 태어난 연도를 입력받아 생애주기 받기
2023년 6월 28일 부터 만나이로 변경이 되면서 나이에 혼선이 생기고 있는 가운데
정부 연령기준에 맞춰 자신이 어떤 나이대 인지 찾아보자

https://www.gosims.go.kr/hh/hh001/retrieveLfcySearch.do

* 정부기준으로 영유아는 0~5 / 아동은 6~12 / 청소년 13~18 / 청년 19~29 / 중년 30~49 / 장년 50~64 / 노년 65세 이상 / 연령대 무관으로 나눈다.
* 태어난 연도를 입력 받는다.
* 만나이 적용 날짜를 산출한다.
* if문을 통해 어떤 종류의 생애주기 인지를 출력한다.
* 만나이를 계산하고, 만나이 기준 생애주기를 출력하세요

In [ ]:
import datetime
from datetime import timedelta, timezone
import pytz

year = int(input("태어난 연도를 입력하세요"))
month = int(input("태어난 월을 입력하세요"))
day = int(input("태어난 일을 입력하세요"))

birthday = datetime.date(year, month, day)

# 현재 날짜
# today = datetime.date.today()

# 만 나이 적용일자
#datetime.date(2023, 6, 28)
d_day = datetime.date(2023, 6, 28)

# 만나이 계산

age = d_day.year - birthday.year -((d_day.month, d_day.day) < (birthday.month, birthday.day))

print(f'2023년 6월 28일부터 당신의 만나이는 {age} 입니다.')
if age < 5:
    life_cycle = '영유아층'
    print(f'당신은 현재 {life_cycle}입니다.')
elif 6 <= age <= 12:
    life_cycle = '아동층'
    print(f'당신은 현재 {life_cycle}입니다.')
elif 13 <= age <= 18:
    life_cycle = '청소년층'
    print(f'당신은 현재 {life_cycle}입니다.')
elif 19 <= age <= 29:
    life_cycle = '청년층'
    print(f'당신은 현재 {life_cycle}입니다.')
elif 30 <= age <= 49:
    life_cycle = '중년층'
    print(f'당신은 현재 {life_cycle}입니다.')
elif 50 <= age <= 64:
    life_cycle = '장년층'
    print(f'당신은 현재 {life_cycle}입니다.')
elif 32 <= age:
    life_cycle = '노년층'
    print(f'당신은 현재 {life_cycle}입니다.')
else:
    life_cycle = '연령대 무관'
    print(f'{life_cycle}로 나와 당신의 현재 생애주기를 알 수 없습니다.')

태어난 연도를 입력하세요1993
태어난 월을 입력하세요6
태어난 일을 입력하세요22
2023년 6월 28일부터 당신의 만나이는 30 입니다.
당신은 현재 중년층입니다.

In [ ]:
import datetime
from datetime import timedelta, timezone

year = int(input("태어난 연도를 입력하세요"))
month = int(input("태어난 월을 입력하세요"))
day = int(input("태어난 일을 입력하세요"))

birthday = datetime.date(year, month, day)

# 현재 날짜
# today = datetime.date.today()

# 만 나이 적용일자
#datetime.date(2023, 6, 28)
d_day = datetime.date(2023, 6, 28)

# 만나이 계산

age = d_day.year - birthday.year -((d_day.month, d_day.day) < (birthday.month, birthday.day))

# 결과 출력
print("당신의 만 나이는", age, "살입니다.")

if age >= 0 and age <= 5:
  print(f"2023년 6월 28일 기준 만 나이는 {age} 살 이므로 영유아 입니다.")
elif age >= 6 and age <= 12:
  print(f"2023년 6월 28일 기준 만 나이는 {age} 살 이므로 아동 입니다.")
elif age >= 13 and age <= 18:
  print(f"2023년 6월 28일 기준 만 나이는 {age} 살 이므로 청소년 입니다.")
elif age >= 19 and age <= 29:
  print(f"2023년 6월 28일 기준 만 나이는 {age} 살 이므로 청년 입니다.")
elif age >= 30 and age <= 49:
  print(f"2023년 6월 28일 기준 만 나이는 {age} 살 이므로 중년 입니다.")
elif age >= 50 and age <= 64:
  print(f"2023년 6월 28일 기준 만 나이는 {age} 살 이므로 장년 입니다.")
elif age >= 65:
  print(f"2023년 6월 28일 기준 만 나이는 {age} 살 이므로 노년 입니다.")  
else:
  print(f"연령대가 제대로 입력이 되지 않아 연령대 무관으로 분류됩니다.")

태어난 연도를 입력하세요2020
태어난 월을 입력하세요9
태어난 일을 입력하세요29
당신의 만 나이는 2 살입니다.
2023년 6월 28일 기준 만 나이는 2 살 이므로 영유아 입니다.

In [ ]:
# 현재 날짜
today = datetime.date.today()
print(today)

2023-05-02