# 반복문

* 반복문을 사용하는 이유 -> 업무의 최소화, 빠른 퇴근, 나의 체력 안배

특히 데이터 분석에서는 
* 월별/분기별/연도별 산출할 게 있을 경우
* 컬럼별 데이터 검사 및 특이값 이상치 발견
* Rule Base 최적 상품 추천
* ML/DL모델을 파라미터를 바꿔서 반복 시행할때
* 기타 3번 이상 반복 작업 해야하는 반복되는 일들

에서 사용되게 됩니다.

In [ ]:
# For 반복문 기초 1

for x in (1,2,3,4,5):
	print(f'{x}번째 입니다.')

1번째 입니다.
2번째 입니다.
3번째 입니다.
4번째 입니다.
5번째 입니다.

In [ ]:
#for 문의 구조
for (변수명) in (순회 가능한 객체) :
    수행할 문장1
	수행할 문장2

In [ ]:
# For 반복문 기초 2
문자열 = 'hello world'
for a in 문자열 :
    print(a)

h
e
l
l
o

w
o
r
l
d

In [ ]:
# 리스트를 범위로 지정한 예시

list_a = ['하나','둘','셋','넷','다섯']

for a in list_a:
  print(a)

하나
둘
셋
넷
다섯

In [ ]:
# 딕셔너리를 이용한 반복문
dic_a = {
    '하나': 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for a in dic_a:
  print(a)

하나
둘
셋

In [ ]:
for a in dic_a.values():
  print(a)

one
two
three

In [ ]:
# range 1번 예제

for a in range(0, 5, 1):
  print(a)

0
1
2
3
4

In [ ]:
# range 2번 예제

for a in range(0, 10, 2):
  print(a)

0
2
4
6
8

In [ ]:
# range 3번 예제

for a in range(10, 0, -1):
    print(a)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# 반복문 기초 1
for i in [1,3,5,7,9]:
  print("홀수를 출력합니다.")

홀수를 출력합니다.
홀수를 출력합니다.
홀수를 출력합니다.
홀수를 출력합니다.
홀수를 출력합니다.

In [ ]:
# 반복문 기초 2
for i in [1,3,5,7,9]:
  print(f'홀수를 출력합니다. {i}')

홀수를 출력합니다. 1
홀수를 출력합니다. 3
홀수를 출력합니다. 5
홀수를 출력합니다. 7
홀수를 출력합니다. 9

In [ ]:
# 반복문 기초 3
from time import process_time

start = process_time()

for i in range(1, 100):
  print(f'숫자를 출력합니다. {i}')

end = process_time()
print(f'프로그램을 수행하는데 {end - start}초가 걸렸습니다.')

숫자를 출력합니다. 1
숫자를 출력합니다. 2
숫자를 출력합니다. 3
숫자를 출력합니다. 4
숫자를 출력합니다. 5
숫자를 출력합니다. 6
숫자를 출력합니다. 7
숫자를 출력합니다. 8
숫자를 출력합니다. 9
숫자를 출력합니다. 10
숫자를 출력합니다. 11
숫자를 출력합니다. 12
숫자를 출력합니다. 13
숫자를 출력합니다. 14
숫자를 출력합니다. 15
숫자를 출력합니다. 16
숫자를 출력합니다. 17
숫자를 출력합니다. 18
숫자를 출력합니다. 19
숫자를 출력합니다. 20
숫자를 출력합니다. 21
숫자를 출력합니다. 22
숫자를 출력합니다. 23
숫자를 출력합니다. 24
숫자를 출력합니다. 25
숫자를 출력합니다. 26
숫자를 출력합니다. 27
숫자를 출력합니다. 28
숫자를 출력합니다. 29
숫자를 출력합니다. 30
숫자를 출력합니다. 31
숫자를 출력합니다. 32
숫자를 출력합니다. 33
숫자를 출력합니다. 34
숫자를 출력합니다. 35
숫자를 출력합니다. 36
숫자를 출력합니다. 37
숫자를 출력합니다. 38
숫자를 출력합니다. 39
숫자를 출력합니다. 40
숫자를 출력합니다. 41
숫자를 출력합니다. 42
숫자를 출력합니다. 43
숫자를 출력합니다. 44
숫자를 출력합니다. 45
숫자를 출력합니다. 46
숫자를 출력합니다. 47
숫자를 출력합니다. 48
숫자를 출력합니다. 49
숫자를 출력합니다. 50
숫자를 출력합니다. 51
숫자를 출력합니다. 52
숫자를 출력합니다. 53
숫자를 출력합니다. 54
숫자를 출력합니다. 55
숫자를 출력합니다. 56
숫자를 출력합니다. 57
숫자를 출력합니다. 58
숫자를 출력합니다. 59
숫자를 출력합니다. 60
숫자를 출력합니다. 61
숫자를 출력합니다. 62
숫자를 출력합니다. 63
숫자를 출력합니다. 64
숫자를 출력합니다. 65
숫자를 출력합니다. 66
숫자를 출력합니다. 67
숫자를 출력합니다. 68
숫자를 출력합니다. 69
숫자를 출력합니다. 70
숫자를 출력합니다. 71
숫자를 출력합니다. 72
숫자를 출력합니다. 73
숫자를 출력합니다. 74
숫자를 출력합니다. 75
숫자를 출력합니다. 76
숫자를 출력합니다. 77
숫자를 출력합니다. 78
숫자를 출력합니다. 79
숫자를 출력합니다. 80
숫자를 출력합니다. 81
숫자를 출력합니다. 82
숫자를 출력합니다. 83
숫자를 출력합니다. 84
숫자를 출력합니다. 85
숫자를 출력합니다. 86
숫자를 출력합니다. 87
숫자를 출력합니다. 88
숫자를 출력합니다. 89
숫자를 출력합니다. 90
숫자를 출력합니다. 91
숫자를 출력합니다. 92
숫자를 출력합니다. 93
숫자를 출력합니다. 94
숫자를 출력합니다. 95
숫자를 출력합니다. 96
숫자를 출력합니다. 97
숫자를 출력합니다. 98
숫자를 출력합니다. 99
프로그램을 수행하는데 0.005332537000000137초가 걸렸습니다.

In [ ]:
# 반복문 기초 - 문자열

for i in 'python':
  print(i)

p
y
t
h
o
n

In [ ]:
for i in ['python','numpy','pandas']:
  print(i)

python
numpy
pandas

In [ ]:
# 반복문 기초 7 - 딕셔너리

d = {"key1" : 1000 , "key2" : 2000, "key3" : 3000}
for i in d.keys():
  print("출력된 문자는", i, "입니다.")

print()

# 반복문 기초 7 - 딕셔너리

d = {"key1" : 1000 , "key2" : 2000, "key3" : 3000}
for i in d.values():
  print("출력된 문자는", i, "입니다.")

print()
# 반복문 기초 7 - 딕셔너리

d = {"key1" : 1000 , "key2" : 2000, "key3" : 3000}
for i in d.items():
  print("출력된 문자는", i, "입니다.")

출력된 문자는 key1 입니다.
출력된 문자는 key2 입니다.
출력된 문자는 key3 입니다.

출력된 문자는 1000 입니다.
출력된 문자는 2000 입니다.
출력된 문자는 3000 입니다.

출력된 문자는 ('key1', 1000) 입니다.
출력된 문자는 ('key2', 2000) 입니다.
출력된 문자는 ('key3', 3000) 입니다.

In [ ]:
#for, else 예제

for i in range(100):
    print(f'{i}마리의 물고기를 잡았습니다.')
    if i == 5:
        print('만선입니다. 물고기를 다 잡았습니다!')
        break
else:
    print('아직 여유가 좀 있지만, 물고기 그만잡고 돌아갑시다.')
print('수고하셨습니다.')

0마리의 물고기를 잡았습니다.
1마리의 물고기를 잡았습니다.
2마리의 물고기를 잡았습니다.
3마리의 물고기를 잡았습니다.
4마리의 물고기를 잡았습니다.
5마리의 물고기를 잡았습니다.
만선입니다. 물고기를 다 잡았습니다!
수고하셨습니다.

In [ ]:
l = [0, 3, -1, 10]

for x in l:
  if x < 0:
    print("음수가 발견되었습니다. 프로그램을 종료합니다.")
    break
else:
  print('음수를 발견하지 못했습니다.')

음수가 발견되었습니다. 프로그램을 종료합니다.

In [ ]:
# 반복문 기초 break - coutinue

# 반복 출력

for i in range(10):

  if i == 3:
    break 

  if i == 1:
    continue
  
print(i) #3

3

In [ ]:
# 0 
# 1
# 2
# 3
# 4

for i in range(10): #[0,2,3,4,5,6,7,8,9]

  if i == 3:
    break 

  if i == 1: 
    continue
  
  print(i) #0,2

0
2

In [ ]:
# 이중 반복문

# 구구단 만들기

for i in range(2, 10): #[2,3,4,5,6,7,8,9]
  for j in range(1, 10): #[1,2,3,4,5,6,7,8,9]
    print(i,"x", j,"=", i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
# 리스트 컴프리핸션

# 예제1)

# list_i = []
# for i in range(1,10):
#   list_i.append(i)

# print(list_i)

x = [i for i in range(1,10)]

print(x)

In [ ]:
# 리스트 예제 2

y = [f'{i} x {j} = {i*j}' for i in range(2,10) for j in range(1,10)] 
print(y)

['2 x 1 = 2', '2 x 2 = 4', '2 x 3 = 6', '2 x 4 = 8', '2 x 5 = 10', '2 x 6 = 12', '2 x 7 = 14', '2 x 8 = 16', '2 x 9 = 18', '3 x 1 = 3', '3 x 2 = 6', '3 x 3 = 9', '3 x 4 = 12', '3 x 5 = 15', '3 x 6 = 18', '3 x 7 = 21', '3 x 8 = 24', '3 x 9 = 27', '4 x 1 = 4', '4 x 2 = 8', '4 x 3 = 12', '4 x 4 = 16', '4 x 5 = 20', '4 x 6 = 24', '4 x 7 = 28', '4 x 8 = 32', '4 x 9 = 36', '5 x 1 = 5', '5 x 2 = 10', '5 x 3 = 15', '5 x 4 = 20', '5 x 5 = 25', '5 x 6 = 30', '5 x 7 = 35', '5 x 8 = 40', '5 x 9 = 45', '6 x 1 = 6', '6 x 2 = 12', '6 x 3 = 18', '6 x 4 = 24', '6 x 5 = 30', '6 x 6 = 36', '6 x 7 = 42', '6 x 8 = 48', '6 x 9 = 54', '7 x 1 = 7', '7 x 2 = 14', '7 x 3 = 21', '7 x 4 = 28', '7 x 5 = 35', '7 x 6 = 42', '7 x 7 = 49', '7 x 8 = 56', '7 x 9 = 63', '8 x 1 = 8', '8 x 2 = 16', '8 x 3 = 24', '8 x 4 = 32', '8 x 5 = 40', '8 x 6 = 48', '8 x 7 = 56', '8 x 8 = 64', '8 x 9 = 72', '9 x 1 = 9', '9 x 2 = 18', '9 x 3 = 27', '9 x 4 = 36', '9 x 5 = 45', '9 x 6 = 54', '9 x 7 = 63', '9 x 8 = 72', '9 x 9 = 81']

In [ ]:
# 반복문 예제 3

def sumthingFuncthing(i):
  if i % 100 == 0:
    return i
  else:
    return 0

In [ ]:
old_list = [100,200,300,101,202,303]
new_list = [sumthingFuncthing(i) for i in old_list]
print(sum(new_list))

600

In [ ]:
# 다중인자 리스트 순회

#다중 리스트 for문
skill = [
        ('고기잡이', 100, 300),
        ('고기팔기', 120, 400),
        ('낚시', 5, 500),
        ('통발', 5, 600),
        ('큰그물', 5, 700)
]

for i,j,z in skill:
    print(i,j,z)

고기잡이 100 300
고기팔기 120 400
낚시 5 500
통발 5 600
큰그물 5 700

In [ ]:
#[In]

# enumerate

skill = [
        ('고기잡이', 100, 'SS'),
        ('고기팔기', 120, 'SSS'),
        ('낚시', 5, 'C'),
        ('통발', 5, 'C'),
        ('큰그물', 5, 'C')
]

for i, (skillName, skillLevel, skillGrade) in enumerate(skill):
    print(i, skillName, skillLevel, skillGrade)

for i, j in enumerate(skill, 100):
    print(i, j)

0 고기잡이 100 SS
1 고기팔기 120 SSS
2 낚시 5 C
3 통발 5 C
4 큰그물 5 C
100 ('고기잡이', 100, 'SS')
101 ('고기팔기', 120, 'SSS')
102 ('낚시', 5, 'C')
103 ('통발', 5, 'C')
104 ('큰그물', 5, 'C')

In [ ]:
# 반복문 연습문제 1

for a in range(8):
  a += 1
print(a)

# 1. 6
# 2. 7
# 3. 8
# 4. 9
# 5. None

8

In [ ]:
for a in range(8):
  a *= (a-1)
print(a)

# 1. 5040
# 2. 0
# 3. 42
# 4. 1024
# 5. None

42

In [ ]:
for a in range(8):
  a += a # a = a + a
print(a)

# 1. 6
# 2. 7
# 3. 8
# 4. 9
# 5. 답없음

14

In [ ]:
for a in range(8):
  a *= 1 
print(a)

# 1. 5040
# 2. 0
# 3. 42
# 4. 1024
# 5. 7

7

In [ ]:
# 반복문 문제 5
# 변수 age의 자료형이 정수형일때 숫자 문자형일때 문자가 출력되는 코드

ages = ['one', 8, 'twenty', 40]

for age in ages:
  if type(age) == int:
    print(age, '숫자')
  else:
    print(age, '문자')

# 1. type(age) == 'int'
# 2. type(age) ==  int 
# 3. type(age) == 'str'
# 4. type(age) == int
# 5. type(age) == str

In [ ]:
# while문 예제 2
숫자 = 0
while True:
	print("현재 숫자는 ", 숫자, "입니다.")
	숫자 += 1
	if 숫자 > 5:
		print("반복문을 종료합니다.")
		break

현재 숫자는  0 입니다.
현재 숫자는  1 입니다.
현재 숫자는  2 입니다.
현재 숫자는  3 입니다.
현재 숫자는  4 입니다.
현재 숫자는  5 입니다.
반복문을 종료합니다.

In [ ]:
# while else

숫자 = 0
while 숫자 < 5:
  print("현재 숫자는 ", 숫자, "입니다.")
  숫자 += 1
else:
  print("반복문을 종료합니다.")

현재 숫자는  0 입니다.
현재 숫자는  1 입니다.
현재 숫자는  2 입니다.
현재 숫자는  3 입니다.
현재 숫자는  4 입니다.
반복문을 종료합니다.

In [ ]:
시간 = 0
현재시간 = int(input("시를 입력해주세요"))
종료시간 = 18
if 현재시간 >= 종료시간:
    print('수업이 끝났기 때문에 Q&A시간을 가지겠습니다.')
else:
    while True:
        시간 += 1
        현재시간 += 1
        print(f'{시간}시간이 지나 {현재시간}시가 되었습니다.')
        if 현재시간 == 종료시간:
            print('수업 종료시간이 되었기 때문에 Q&A시간을 가지겠습니다.')
        break

시를 입력해주세요17
1시간이 지나 18시가 되었습니다.
수업 종료시간이 되었기 때문에 Q&A시간을 가지겠습니다.

In [ ]:
# 구구단 5단까지 출력하기

for i in range(2, 10):
  for j in range(1, 10):
    if j > 5:
      break
    print(f'{i} * {j} = {i*j}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45

In [ ]:
# continue

count_amount= [
    (3, 15000),
    (5, 25000),
    (1, 5000),
    (8, 40000),
    (0, 0),
    (2, 10000)
]

for count, amount in count_amount:
  if count < 1:
    continue
  print(f'구매개수는 {count}, 구매가격은 {amount}')

구매개수는 3, 구매가격은 15000
구매개수는 5, 구매가격은 25000
구매개수는 1, 구매가격은 5000
구매개수는 8, 구매가격은 40000
구매개수는 2, 구매가격은 10000

In [ ]:
#pass
구매개수_총가격= [
    (3, 15000),
    (5, 25000),
    (1, 5000),
    (8, 40000),
    (0, 0),
    (2, 10000)
    ]
for 구매개수, 총가격 in 구매개수_총가격:
    if 구매개수 < 1:
        pass
    print('구매개수는 {}개이며 {}원입니다.'.format(구매개수, 총가격))

구매개수는 3개이며 15000원입니다.
구매개수는 5개이며 25000원입니다.
구매개수는 1개이며 5000원입니다.
구매개수는 8개이며 40000원입니다.
구매개수는 0개이며 0원입니다.
구매개수는 2개이며 10000원입니다.

In [ ]:
# while문으로 구구단 만들기

i = 2
while i < 10 :
    k = 1
    while k < 10:
        print(i, " * ", k, " = ", i * k)
        k += 1
    i += 1

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

In [ ]:
#조건문 문제
#1부터 10까지 짝수를 뽑으려면 어떤 코드를 작성해야할까요?

a = 1

while a < 11:
    if a % 2 == 0:
      print(a)
      a += 1
    else:
      a += 1

    if a == 0:
      break

#1. a == 10
#2. a != 10
#3. a < 10
#4. a >= 10
#5. a < 11

2
4
6
8
10

In [ ]:
# 조건문 문제
# 실행결과가 0인 코드를 작성하고 싶을때 어떻게 작성해야하는가?

money = 2000
snack = 500
water = 1000
while money !=0:
    if money > 1000:
      money -= water
    elif 0 < money <= 1000:
      money -= snack * 2

print(money)
  
# 1. money - 1500
# 2. money - 1000
# 3. money - 2000
# 4. money + 500
# 5. money - 500
# 6. 답 없음 =>> else문이 필요없다!!

0

In [ ]:
#While문 예제 2 - 입력하는 값 만큼 반복
count = int(input('반복할 횟수를 입력하세요: '))
 
i = 0
while i < 30:     # i가 count보다 작을 때 반복
    print(i, '번째 출력')
    i += 1
    # 감소는 i -= 1

반복할 횟수를 입력하세요: 50
0 번째 출력
1 번째 출력
2 번째 출력
3 번째 출력
4 번째 출력
5 번째 출력
6 번째 출력
7 번째 출력
8 번째 출력
9 번째 출력
10 번째 출력
11 번째 출력
12 번째 출력
13 번째 출력
14 번째 출력
15 번째 출력
16 번째 출력
17 번째 출력
18 번째 출력
19 번째 출력
20 번째 출력
21 번째 출력
22 번째 출력
23 번째 출력
24 번째 출력
25 번째 출력
26 번째 출력
27 번째 출력
28 번째 출력
29 번째 출력

In [ ]:
#while문 예제 3 - 맞을 때까지 반복

import random    # random 모듈을 가져옴
 
i = 0
while i != 3:    # 주사위 숫자가 3이 아닐 때 계속 반복
    i = random.randint(1, 6)    # randint를 사용하여 가상 주사위를 만듬
    print(i)

6
2
1
1
2
5
1
5
2
2
1
1
1
2
1
5
1
4
2
2
3

In [ ]:
#while문 예제 4 - 효율적으로 특정 데이터 제거

cust_all = [1,2,1,2]
value = 1

print(cust_all)

while value in cust_all:
    cust_all.remove(value)

print(cust_all)

[1, 2, 1, 2]
[2, 2]

* 컴퓨터랑 대결(?)하기

In [ ]:
# 실습1. 1~100사이의 숫자를 맞출때까지 반복하는 while문을 작성해주시면 됩니다.
# 내가 입력한 숫자가 컴퓨터 숫자보다 작으면 "값이 작다"
# 내가 입력한 숫자가 컴퓨터 숫자보다 크면 "값이 크다"
# 답이 맞음

import random
guess_number = random.randint(1,100)
user_input = int(input("컴퓨터씨 숫자를 입력해서 값을 맞춰보세요! 내 답 : "))

while guess_number != user_input:   
    guess_number = random.randint(1, 100)    # 1~100사이의 숫자
    print(guess_number)

컴퓨터씨 숫자를 입력해서 값을 맞춰보세요! 내 답 : 55
61
30
54
14
48
36
87
28
63
90
71
53
74
59
99
3
97
74
19
20
41
59
54
6
53
26
89
2
8
86
6
42
38
84
80
15
22
48
17
98
63
88
10
29
39
36
87
49
56
94
64
92
24
39
58
66
3
53
8
92
39
44
57
76
29
7
93
1
15
87
30
29
1
57
6
42
22
25
76
33
10
71
50
48
21
24
50
89
66
94
32
78
63
69
71
14
44
99
13
9
28
52
28
71
63
66
7
69
30
50
74
61
35
28
68
4
41
29
81
64
41
75
76
70
64
12
45
75
96
93
46
28
70
33
69
25
18
89
11
34
67
24
28
47
97
82
100
51
22
27
57
76
1
83
89
54
62
42
38
76
15
28
84
13
3
42
42
99
45
65
88
97
57
80
67
87
68
74
47
40
96
31
78
81
48
8
89
27
35
25
48
78
44
51
90
20
13
10
29
82
97
40
30
16
74
39
7
100
100
31
54
32
4
31
23
42
39
10
72
77
18
93
46
80
25
100
46
10
11
28
68
95
95
52
96
61
28
60
28
33
4
97
19
91
5
83
29
28
1
80
94
78
27
30
1
74
2
66
47
25
46
100
95
72
40
26
29
8
81
25
63
92
85
3
93
98
2
18
65
85
94
47
42
90
28
54
41
52
95
21
78
66
70
6
16
70
72
60
79
24
91
67
71
62
51
16
7
84
64
35
21
86
39
46
82
46
69
13
67
59
35
91
5
6
63
12
8
62
92
100
40
4
6
3
66
75
71
53
55

In [ ]:
# 실습1. 1~100사이의 숫자를 맞출때까지 반복하는 while문을 작성해주시면 됩니다.
# 내가 입력한 숫자가 컴퓨터 숫자보다 작으면 "값이 작다"
# 내가 입력한 숫자가 컴퓨터 숫자보다 크면 "값이 크다"
# 답이 맞으면 맞았습니다. 

import random
guess_number = random.randint(1,100)
user_input = int(input("숫자를 입력해서 값을 맞춰보세요"))

while (user_input != guess_number):
  if user_input > guess_number:
    print("숫자가 큽니다.")
  else:
    print("숫자가 작습니다.")
  user_input = int(input("숫자를 입력해서 값을 다시 맞춰보세요"))
else:
  print("정답입니다.")

숫자를 입력해서 값을 맞춰보세요50
숫자가 작습니다.
숫자를 입력해서 값을 다시 맞춰보세요60
숫자가 작습니다.
숫자를 입력해서 값을 다시 맞춰보세요80
정답입니다.

In [ ]:
# 제코베 문제 1.

a = 10
b = 2
for i in range(1, 5, 2):
  a += i

print(a+b) 

#1)  10
#2)  12
#3)  14
#4)  16

16

In [ ]:
# 제코베 문제 2.

# 2-gram이란 문자열에서 2개의 연속된 요소를 출력하는 방법입니다. 
# 예를 들어 'Python'을 2-gram으로 반복해 본다면 다음과 같은 결과가 나옵니다.

# Py
# yt
# th
# ho
# on

a = 'Python'

for i in range(5):

    print(a[i:i+2])

Py
yt
th
ho
on

In [ ]:
s = 'python'
for i, v in enumerate(s):
    if v != s[-1]:
        print(s[i:i+2])

py
yt
th
ho
on

In [ ]:
# 제코베 문제 3. 반장선거

#입력
# input("원범 원범 혜원 혜원 혜원 혜원 유진 유진")

#1) 투표결과를 받아와서
#2) 해당 결과를 알맞는 자료구조료 변환해서
#3) 가장 많이 받은 표를 계산 후 출력

#결과
# 혜원이 4표를 받아서 반장이 되었습니다.

In [ ]:
# 1. 데이터 입력받기
data = input("투표 결과를 입력해주세요").split()

투표 결과를 입력해주세요원범 원범 혜원 혜원 혜원 혜원 유진 유진

In [ ]:
# 2. 적절한 데이터셋으로 변환
data_set = set(data) # 중복을 포함하지 않는 자료구조

In [ ]:
# 3. dict 형태로 가져오기
data_dict = {}
for key in data_set:
  data_dict[key] = data.count(key)

In [ ]:
data_dict

{'혜원': 4, '원범': 2, '유진': 2}

In [ ]:
# 4. 최대값을 출력 max()
print(f'{max(data_dict.keys())}이가 반장이 되었습니다. {max(data_dict.values())} 표를 받았습니다.')

혜원이가 반장이 되었습니다. 4 표를 받았습니다.

In [ ]:
# 2+1 상품 집계
price = 1000
goods = 3
total = 0

for i in range(1, goods + 1):
  print("2+1 상품입니다.")
  if i % 3 == 0:
    continue
  total += price

print(f"총 가격은 {total}원 입니다")

# 제코베 문제 4. 놀이동산에 가자

테마파크에 온 원범이와 친구들은 놀이기구를 타려고 합니다. 모든 놀이기구는 한번에 타는 인원수에는 제한이 없지만 제한 무게를 넘으면 무조건 다음 기구를 타야 합니다. 

**원범이와 친구들이 총 몇 명 탈 수 있는지 알 수 있는 프로그램을 작성해 주세요.**

첫번째 줄에서 제한 무게가 주어지고 두번째 줄에서는 함께한 친구들의 수 n이 주어집니다. 
그 다음 차례대로 탑승할 친구들의 몸무게가 주어집니다. 몸무게는 무작위로 주어집니다.

- 단, 놀이기구는 선착순으로만 탈 수 있습니다.
- 두 명 이상의 인원이 항상 탑승합니다.

In [ ]:
import random    

limit = int(input('제한 무게를 입력해주세요.'))
man = int(input('탑승을 원하는 인원을 입력해주세요.'))
weights = []

weight =  int(random.randint(30, 100))
weights.append(weight)

total_weight = 0
total_people = 2

for weight in weights:
    if total_weight + weight <= limit:
        total_weight += weight
        total_people += 1
    else:
        break

print(f'원범이와 친구들은 총 {total_people}명이 탑승할 수 있습니다.')

# 스스로 코드 리뷰하기
# 두명 이상이 무조건 탑승해야한다는 전제조건이 빠진 코드가 작성되었다.

제한 무게를 입력해주세요.500
탑승을 원하는 인원을 입력해주세요.466
원범이와 친구들은 총 3명이 탑승할 수 있습니다.

In [ ]:
# 1. input 가져오기

제한무게 = float(input("제한 무게를 입력하세요"))
친구수 = int(input("친구 수를 입력해 주세요"))
친구몸무게 = []
전체몸무게 = 0
제한인원 = 0
비교 = True

# 친구 2명의 전체몸무게가 105kg 제한몸무게가 100Kg 1명밖에 타지 못함

for i in range(친구수):
  친구몸무게.append(float(input("친구 몸무게를 입력해주세요")))
  전체몸무게 += 친구몸무게[i]
  # 친구 2명의 전체몸무게가 105kg 제한몸무게가 100Kg 1명밖에 타지 못함
  if 전체몸무게 > 제한무게:
    if 비교:
      비교 = False
      제한인원 = i

if 제한인원 == 0 and 친구몸무게[0] <= 제한무게:
  print(len(친구몸무게))
else:
  print(f'{제한인원}가 몇명입니다.')

제한 무게를 입력하세요400
친구 수를 입력해 주세요5
친구 몸무게를 입력해주세요66
친구 몸무게를 입력해주세요55
친구 몸무게를 입력해주세요77
친구 몸무게를 입력해주세요44
친구 몸무게를 입력해주세요50
5

# 최종 실습

1. 택시 기사의 하루 일당 구하기

법인에 소속된 택시기사들의 평균 사납금(영업을 하게 하는  댓가로 지불하는 비용(기름값, 차량렌트비 등)은 기본 13만 5천원입니다. 하루 매출이 13만 5천원을 벌지 못하면 그날은 수입이 마이너스가 되는겁니다. 

오늘도 바쁘게 손님을 맞이하는 A기사님은 매출이 30만원이 되길 바라고 있습니다. 

1. A기사님은 오늘 매출 30만원을 채우기를 원합니다. (30만원 이상일 경우 운행 종료)
2. 손님별 운행시간은 5 ~ 20분으로 정합니다.
3. 그 중 5 ~ 15분인 고객의 콜을 받습니다.
4. 기본요금은 기본 5분일 경우 5,000원으로 1분이 추가될때마다 1,000원을 더 추가합니다.
5. 1) 오늘 콜을 받은 횟수와 2) 승객의 탑승횟수, 3) 30만원을 채우기까지 총 소요시간 그리고 4) 승객에게 받은 요금을 최종 산출하세요

In [ ]:
1이 탑승했습니다. 소요시간은 7이 걸립니다. 금액은 7000 입니다.
2이 탑승했습니다. 소요시간은 15이 걸립니다. 금액은 15000 입니다.
3이 탑승했습니다. 소요시간은 8이 걸립니다. 금액은 8000 입니다.
4이 탑승했습니다. 소요시간은 6이 걸립니다. 금액은 6000 입니다.
5이 탑승했습니다. 소요시간은 10이 걸립니다. 금액은 10000 입니다.
6이 탑승했습니다. 소요시간은 5이 걸립니다. 금액은 5000 입니다.
매칭에 실패했습니다.
오늘 매칭 횟수는 39번 이고, 탑승손님은 32명 이고, 소요시간은 311분 이고, 총 수익은 311000원 입니다.

In [3]:
import random 

total_time = 0
call_count = 0
fare = 0

# 오늘 콜 받기
while fare < 300000:
    call_time = random.randint(5, 20)
    if call_time >= 5 and call_time <= 15:
        call_count += 1
        total_time += call_time

        # 승객 요금 계산
        basic_fare = 5000
        additional_fare = (call_time - 5) * 1000
        fare += basic_fare + additional_fare

print("총 콜 받은 횟수:", call_count)
print("총 탑승 횟수:", call_count)
print("총 소요시간:", total_time)
print("오늘의 수입:", fare)

총 콜 받은 횟수: 31
총 탑승 횟수: 31
총 소요시간: 309
오늘의 수입: 309000

In [1]:
from random import randrange

# 매칭횟수(콜 받은 횟수)
matching = 0
# 실제로 탄 고객(탑승횟수)
people = 0
# 택시 이용요금(승객에게 받은 요금)
money = 0
# 총 운행 시간(총 소요시간)
all_time = 0

# 운행은 30만원 이상일때 종료
while money < 300000:
  matching += 1
  time = randrange(5, 21)

  if 5 <= time <= 15:
    people += 1
    each_money = time * 1000
    print(f'손님 {people}이(가) 탑승했습니다. 소요시간은 {time}분이 걸립니다. 택시요금은 {each_money}원 입니다')
    money += each_money
    all_time += time
  else:
    print("매칭에 실패했습니다.")
  
print(f"오늘 매칭 횟수는 총 {matching}번 이고, 탑승손님 {people}명 이고, 소요시간은 {all_time}분 이고, 총 매출은 {money}원 입니다.")

손님 1이(가) 탑승했습니다. 소요시간은 7분이 걸립니다. 택시요금은 7000원 입니다
손님 2이(가) 탑승했습니다. 소요시간은 8분이 걸립니다. 택시요금은 8000원 입니다
매칭에 실패했습니다.
손님 3이(가) 탑승했습니다. 소요시간은 5분이 걸립니다. 택시요금은 5000원 입니다
손님 4이(가) 탑승했습니다. 소요시간은 7분이 걸립니다. 택시요금은 7000원 입니다
손님 5이(가) 탑승했습니다. 소요시간은 6분이 걸립니다. 택시요금은 6000원 입니다
손님 6이(가) 탑승했습니다. 소요시간은 14분이 걸립니다. 택시요금은 14000원 입니다
매칭에 실패했습니다.
손님 7이(가) 탑승했습니다. 소요시간은 11분이 걸립니다. 택시요금은 11000원 입니다
손님 8이(가) 탑승했습니다. 소요시간은 15분이 걸립니다. 택시요금은 15000원 입니다
손님 9이(가) 탑승했습니다. 소요시간은 15분이 걸립니다. 택시요금은 15000원 입니다
매칭에 실패했습니다.
손님 10이(가) 탑승했습니다. 소요시간은 5분이 걸립니다. 택시요금은 5000원 입니다
손님 11이(가) 탑승했습니다. 소요시간은 9분이 걸립니다. 택시요금은 9000원 입니다
손님 12이(가) 탑승했습니다. 소요시간은 7분이 걸립니다. 택시요금은 7000원 입니다
손님 13이(가) 탑승했습니다. 소요시간은 13분이 걸립니다. 택시요금은 13000원 입니다
매칭에 실패했습니다.
손님 14이(가) 탑승했습니다. 소요시간은 9분이 걸립니다. 택시요금은 9000원 입니다
손님 15이(가) 탑승했습니다. 소요시간은 9분이 걸립니다. 택시요금은 9000원 입니다
손님 16이(가) 탑승했습니다. 소요시간은 15분이 걸립니다. 택시요금은 15000원 입니다
손님 17이(가) 탑승했습니다. 소요시간은 14분이 걸립니다. 택시요금은 14000원 입니다
손님 18이(가) 탑승했습니다. 소요시간은 14분이 걸립니다. 택시요금은 14000원 입니다
손님 19이(가) 탑승했습니다. 소요시간은 11분이 걸립니다. 택시요금은 11000원 입니다
손님 20이(가) 탑승했습니다. 소요시간은 10분이 걸립니다. 택시요금은 10000원 입니다
손님 21이(가) 탑승했습니다. 소요시간은 14분이 걸립니다. 택시요금은 14000원 입니다
손님 22이(가) 탑승했습니다. 소요시간은 7분이 걸립니다. 택시요금은 7000원 입니다
손님 23이(가) 탑승했습니다. 소요시간은 11분이 걸립니다. 택시요금은 11000원 입니다
매칭에 실패했습니다.
손님 24이(가) 탑승했습니다. 소요시간은 11분이 걸립니다. 택시요금은 11000원 입니다
매칭에 실패했습니다.
손님 25이(가) 탑승했습니다. 소요시간은 7분이 걸립니다. 택시요금은 7000원 입니다
손님 26이(가) 탑승했습니다. 소요시간은 14분이 걸립니다. 택시요금은 14000원 입니다
손님 27이(가) 탑승했습니다. 소요시간은 5분이 걸립니다. 택시요금은 5000원 입니다
손님 28이(가) 탑승했습니다. 소요시간은 7분이 걸립니다. 택시요금은 7000원 입니다
손님 29이(가) 탑승했습니다. 소요시간은 12분이 걸립니다. 택시요금은 12000원 입니다
손님 30이(가) 탑승했습니다. 소요시간은 8분이 걸립니다. 택시요금은 8000원 입니다
오늘 매칭 횟수는 총 36번 이고, 탑승손님 30명 이고, 소요시간은 300분 이고, 총 매출은 300000원 입니다.

[randrange 와 randint 차이점이 뭔가요?]

* randint(start, stop) : start와 stop 사이의 랜덤 정수를 리턴 (stop도 포함)

* randrange(start, stop, step) : start, stop 사이의 정수 중 step 간격의 랜덤 정수 리턴

* randint 가 아닌 randrange 를 사용하면 원하는 배수값을 (ex. 3의 배수) 리턴 받을 수 있습니다.

* randint(a, b)는 a 이상 b이하의 범위 내 랜덤정수를 반환(b를 포함)하고 
* randrange(a, b)는 a이상 b '미만'의 범위 내 랜덤정수를 반환(b를 포함하지 않음)하는 점도 차이점입니다.
* 예를 들어, print(random.randint(1, 2)) 하면 1 또는 2가 나오지만 print(random.randrange(1, 2, 1))하면 1만 나옵니다!

In [5]:
매출 = 0
#소요시간 = randint(5,20)
# 요금 = 소요시간 * 1000
콜횟수 = 0

while 매출 < 300000:
  소요시간 = random.randint(5,20)
  if 소요시간 > 15:
    print('매칭이 실패했습니다')
  else:
    요금 = 소요시간 * 1000
    매출 = 매출 + 요금
    콜횟수 = 콜횟수 + 1
    print(f'{콜횟수}번 손님이 탑승했습니다. 소요시간은 {소요시간}분이 걸립니다 금액은 {요금}원입니다')
else:
  print(f'{매출}원을 도달했습니다 운영을 종료합니다')

1번 손님이 탑승했습니다. 소요시간은 14분이 걸립니다 금액은 14000원입니다
매칭이 실패했습니다
2번 손님이 탑승했습니다. 소요시간은 7분이 걸립니다 금액은 7000원입니다
3번 손님이 탑승했습니다. 소요시간은 15분이 걸립니다 금액은 15000원입니다
4번 손님이 탑승했습니다. 소요시간은 8분이 걸립니다 금액은 8000원입니다
5번 손님이 탑승했습니다. 소요시간은 12분이 걸립니다 금액은 12000원입니다
6번 손님이 탑승했습니다. 소요시간은 7분이 걸립니다 금액은 7000원입니다
7번 손님이 탑승했습니다. 소요시간은 12분이 걸립니다 금액은 12000원입니다
매칭이 실패했습니다
8번 손님이 탑승했습니다. 소요시간은 5분이 걸립니다 금액은 5000원입니다
매칭이 실패했습니다
9번 손님이 탑승했습니다. 소요시간은 15분이 걸립니다 금액은 15000원입니다
10번 손님이 탑승했습니다. 소요시간은 9분이 걸립니다 금액은 9000원입니다
11번 손님이 탑승했습니다. 소요시간은 13분이 걸립니다 금액은 13000원입니다
매칭이 실패했습니다
12번 손님이 탑승했습니다. 소요시간은 9분이 걸립니다 금액은 9000원입니다
매칭이 실패했습니다
13번 손님이 탑승했습니다. 소요시간은 15분이 걸립니다 금액은 15000원입니다
매칭이 실패했습니다
14번 손님이 탑승했습니다. 소요시간은 10분이 걸립니다 금액은 10000원입니다
15번 손님이 탑승했습니다. 소요시간은 14분이 걸립니다 금액은 14000원입니다
16번 손님이 탑승했습니다. 소요시간은 15분이 걸립니다 금액은 15000원입니다
매칭이 실패했습니다
17번 손님이 탑승했습니다. 소요시간은 14분이 걸립니다 금액은 14000원입니다
18번 손님이 탑승했습니다. 소요시간은 12분이 걸립니다 금액은 12000원입니다
매칭이 실패했습니다
19번 손님이 탑승했습니다. 소요시간은 15분이 걸립니다 금액은 15000원입니다
매칭이 실패했습니다
20번 손님이 탑승했습니다. 소요시간은 8분이 걸립니다 금액은 8000원입니다
21번 손님이 탑승했습니다. 소요시간은 12분이 걸립니다 금액은 12000원입니다
22번 손님이 탑승했습니다. 소요시간은 6분이 걸립니다 금액은 6000원입니다
23번 손님이 탑승했습니다. 소요시간은 15분이 걸립니다 금액은 15000원입니다
매칭이 실패했습니다
매칭이 실패했습니다
매칭이 실패했습니다
24번 손님이 탑승했습니다. 소요시간은 11분이 걸립니다 금액은 11000원입니다
25번 손님이 탑승했습니다. 소요시간은 7분이 걸립니다 금액은 7000원입니다
26번 손님이 탑승했습니다. 소요시간은 11분이 걸립니다 금액은 11000원입니다
27번 손님이 탑승했습니다. 소요시간은 5분이 걸립니다 금액은 5000원입니다
28번 손님이 탑승했습니다. 소요시간은 5분이 걸립니다 금액은 5000원입니다
301000원을 도달했습니다 운영을 종료합니다

In [6]:
import random
total_income = -135000
customer_num = 0
call = 0
time = 0

while total_income < 300000:
    customer = random.randint(1,21)
    if 0 < customer < 6:
        total_income += 5000
        fee = 5000
        customer_num += 1
        call += 1
        time += customer
        print(f'{customer_num}번 손님이 탑승했습니다. 소요시간은 {customer}분이 걸립니다. 금액은 {fee}원입니다.')
    elif 6 <= customer < 16:
        total_income += 5000 + (customer - 5) * 1000
        fee = 5000 + (customer - 5) * 1000
        customer_num += 1
        call += 1
        time += customer
        print(f'{customer_num}번 손님이 탑승했습니다. 소요시간은 {customer}분이 걸립니다. 금액은 {fee}원입니다.')
    else:
        print('매칭에 실패했습니다.')
        call += 1
print(f'Today call: {call}, Matcing call: {customer_num}, Total Time: {time}분,Today income: {total_income}')

1번 손님이 탑승했습니다. 소요시간은 12분이 걸립니다. 금액은 12000원입니다.
2번 손님이 탑승했습니다. 소요시간은 6분이 걸립니다. 금액은 6000원입니다.
3번 손님이 탑승했습니다. 소요시간은 13분이 걸립니다. 금액은 13000원입니다.
4번 손님이 탑승했습니다. 소요시간은 8분이 걸립니다. 금액은 8000원입니다.
5번 손님이 탑승했습니다. 소요시간은 8분이 걸립니다. 금액은 8000원입니다.
6번 손님이 탑승했습니다. 소요시간은 8분이 걸립니다. 금액은 8000원입니다.
7번 손님이 탑승했습니다. 소요시간은 8분이 걸립니다. 금액은 8000원입니다.
8번 손님이 탑승했습니다. 소요시간은 14분이 걸립니다. 금액은 14000원입니다.
매칭에 실패했습니다.
9번 손님이 탑승했습니다. 소요시간은 7분이 걸립니다. 금액은 7000원입니다.
매칭에 실패했습니다.
매칭에 실패했습니다.
매칭에 실패했습니다.
10번 손님이 탑승했습니다. 소요시간은 3분이 걸립니다. 금액은 5000원입니다.
11번 손님이 탑승했습니다. 소요시간은 6분이 걸립니다. 금액은 6000원입니다.
매칭에 실패했습니다.
12번 손님이 탑승했습니다. 소요시간은 14분이 걸립니다. 금액은 14000원입니다.
13번 손님이 탑승했습니다. 소요시간은 7분이 걸립니다. 금액은 7000원입니다.
14번 손님이 탑승했습니다. 소요시간은 10분이 걸립니다. 금액은 10000원입니다.
매칭에 실패했습니다.
매칭에 실패했습니다.
15번 손님이 탑승했습니다. 소요시간은 6분이 걸립니다. 금액은 6000원입니다.
16번 손님이 탑승했습니다. 소요시간은 13분이 걸립니다. 금액은 13000원입니다.
17번 손님이 탑승했습니다. 소요시간은 15분이 걸립니다. 금액은 15000원입니다.
매칭에 실패했습니다.
매칭에 실패했습니다.
18번 손님이 탑승했습니다. 소요시간은 14분이 걸립니다. 금액은 14000원입니다.
19번 손님이 탑승했습니다. 소요시간은 2분이 걸립니다. 금액은 5000원입니다.
20번 손님이 탑승했습니다. 소요시간은 7분이 걸립니다. 금액은 7000원입니다.
21번 손님이 탑승했습니다. 소요시간은 12분이 걸립니다. 금액은 12000원입니다.
22번 손님이 탑승했습니다. 소요시간은 7분이 걸립니다. 금액은 7000원입니다.
매칭에 실패했습니다.
23번 손님이 탑승했습니다. 소요시간은 3분이 걸립니다. 금액은 5000원입니다.
24번 손님이 탑승했습니다. 소요시간은 9분이 걸립니다. 금액은 9000원입니다.
매칭에 실패했습니다.
25번 손님이 탑승했습니다. 소요시간은 9분이 걸립니다. 금액은 9000원입니다.
26번 손님이 탑승했습니다. 소요시간은 5분이 걸립니다. 금액은 5000원입니다.
매칭에 실패했습니다.
매칭에 실패했습니다.
27번 손님이 탑승했습니다. 소요시간은 7분이 걸립니다. 금액은 7000원입니다.
매칭에 실패했습니다.
매칭에 실패했습니다.
매칭에 실패했습니다.
28번 손님이 탑승했습니다. 소요시간은 9분이 걸립니다. 금액은 9000원입니다.
29번 손님이 탑승했습니다. 소요시간은 13분이 걸립니다. 금액은 13000원입니다.
30번 손님이 탑승했습니다. 소요시간은 11분이 걸립니다. 금액은 11000원입니다.
31번 손님이 탑승했습니다. 소요시간은 4분이 걸립니다. 금액은 5000원입니다.
32번 손님이 탑승했습니다. 소요시간은 6분이 걸립니다. 금액은 6000원입니다.
매칭에 실패했습니다.
매칭에 실패했습니다.
매칭에 실패했습니다.
매칭에 실패했습니다.
매칭에 실패했습니다.
매칭에 실패했습니다.
33번 손님이 탑승했습니다. 소요시간은 1분이 걸립니다. 금액은 5000원입니다.
34번 손님이 탑승했습니다. 소요시간은 3분이 걸립니다. 금액은 5000원입니다.
35번 손님이 탑승했습니다. 소요시간은 14분이 걸립니다. 금액은 14000원입니다.
매칭에 실패했습니다.
36번 손님이 탑승했습니다. 소요시간은 13분이 걸립니다. 금액은 13000원입니다.
37번 손님이 탑승했습니다. 소요시간은 11분이 걸립니다. 금액은 11000원입니다.
매칭에 실패했습니다.
38번 손님이 탑승했습니다. 소요시간은 14분이 걸립니다. 금액은 14000원입니다.
39번 손님이 탑승했습니다. 소요시간은 9분이 걸립니다. 금액은 9000원입니다.
매칭에 실패했습니다.
40번 손님이 탑승했습니다. 소요시간은 10분이 걸립니다. 금액은 10000원입니다.
41번 손님이 탑승했습니다. 소요시간은 5분이 걸립니다. 금액은 5000원입니다.
42번 손님이 탑승했습니다. 소요시간은 12분이 걸립니다. 금액은 12000원입니다.
43번 손님이 탑승했습니다. 소요시간은 6분이 걸립니다. 금액은 6000원입니다.
44번 손님이 탑승했습니다. 소요시간은 2분이 걸립니다. 금액은 5000원입니다.
매칭에 실패했습니다.
45번 손님이 탑승했습니다. 소요시간은 15분이 걸립니다. 금액은 15000원입니다.
46번 손님이 탑승했습니다. 소요시간은 11분이 걸립니다. 금액은 11000원입니다.
47번 손님이 탑승했습니다. 소요시간은 7분이 걸립니다. 금액은 7000원입니다.
매칭에 실패했습니다.
48번 손님이 탑승했습니다. 소요시간은 3분이 걸립니다. 금액은 5000원입니다.
49번 손님이 탑승했습니다. 소요시간은 10분이 걸립니다. 금액은 10000원입니다.
Today call: 76, Matcing call: 49, Total Time: 422분,Today income: 306000

In [ ]:
import random
num = 0 
total_num = 0
fee = 0
total_fee = 0

while total_fee < 300000:
    time = random.randint(5, 20)
    if 5 <= time <= 15:
        fee = 5000 + (time-5) * 1000
        total_fee += fee
        num += 1
        print(f'{num}이 탑승했습니다. 소요시간은 {time}이 걸립니다. 금액은 {fee}입니다.')
    else:
        print('매칭에 실패했습니다.')
    total_num += 1
    
else: 
    print(f'오늘 매칭 횟수는 {total_num}번 이고, 탑승손님은 {num}명 이고, 소요시간은 {time}분 이고, \
총 수익은 {total_fee}원 입니다.')

1이 탑승했습니다. 소요시간은 14이 걸립니다. 금액은 14000입니다.
2이 탑승했습니다. 소요시간은 12이 걸립니다. 금액은 12000입니다.
매칭에 실패했습니다.
3이 탑승했습니다. 소요시간은 8이 걸립니다. 금액은 8000입니다.
4이 탑승했습니다. 소요시간은 14이 걸립니다. 금액은 14000입니다.
매칭에 실패했습니다.
매칭에 실패했습니다.
매칭에 실패했습니다.
5이 탑승했습니다. 소요시간은 5이 걸립니다. 금액은 5000입니다.
6이 탑승했습니다. 소요시간은 8이 걸립니다. 금액은 8000입니다.
매칭에 실패했습니다.
매칭에 실패했습니다.
7이 탑승했습니다. 소요시간은 11이 걸립니다. 금액은 11000입니다.
8이 탑승했습니다. 소요시간은 13이 걸립니다. 금액은 13000입니다.
9이 탑승했습니다. 소요시간은 15이 걸립니다. 금액은 15000입니다.
10이 탑승했습니다. 소요시간은 8이 걸립니다. 금액은 8000입니다.
11이 탑승했습니다. 소요시간은 14이 걸립니다. 금액은 14000입니다.
12이 탑승했습니다. 소요시간은 7이 걸립니다. 금액은 7000입니다.
매칭에 실패했습니다.
13이 탑승했습니다. 소요시간은 11이 걸립니다. 금액은 11000입니다.
14이 탑승했습니다. 소요시간은 8이 걸립니다. 금액은 8000입니다.
매칭에 실패했습니다.
15이 탑승했습니다. 소요시간은 12이 걸립니다. 금액은 12000입니다.
16이 탑승했습니다. 소요시간은 11이 걸립니다. 금액은 11000입니다.
17이 탑승했습니다. 소요시간은 9이 걸립니다. 금액은 9000입니다.
매칭에 실패했습니다.
매칭에 실패했습니다.
매칭에 실패했습니다.
18이 탑승했습니다. 소요시간은 5이 걸립니다. 금액은 5000입니다.
19이 탑승했습니다. 소요시간은 7이 걸립니다. 금액은 7000입니다.
매칭에 실패했습니다.
20이 탑승했습니다. 소요시간은 5이 걸립니다. 금액은 5000입니다.
21이 탑승했습니다. 소요시간은 9이 걸립니다. 금액은 9000입니다.
22이 탑승했습니다. 소요시간은 8이 걸립니다. 금액은 8000입니다.
매칭에 실패했습니다.
23이 탑승했습니다. 소요시간은 10이 걸립니다. 금액은 10000입니다.
24이 탑승했습니다. 소요시간은 13이 걸립니다. 금액은 13000입니다.
25이 탑승했습니다. 소요시간은 5이 걸립니다. 금액은 5000입니다.
26이 탑승했습니다. 소요시간은 12이 걸립니다. 금액은 12000입니다.
27이 탑승했습니다. 소요시간은 13이 걸립니다. 금액은 13000입니다.
28이 탑승했습니다. 소요시간은 12이 걸립니다. 금액은 12000입니다.
29이 탑승했습니다. 소요시간은 6이 걸립니다. 금액은 6000입니다.
30이 탑승했습니다. 소요시간은 13이 걸립니다. 금액은 13000입니다.
31이 탑승했습니다. 소요시간은 14이 걸립니다. 금액은 14000입니다.
오늘 매칭 횟수는 44번 이고, 탑승손님은 31명 이고, 소요시간은 14분 이고, 총 수익은 312000원 입니다.