#1. 함수_복습

In [ ]:
# 함수 정의

def add(x, y):
	value = x + y
	return value

add(3,4)

7

In [ ]:
# 가장 선호
x = add(3,4)
print(x)

7

In [ ]:
print(add(3,4))

7

In [ ]:
# 위치 인수의 예시

def sum_tax(price, unit, fee, tax_rate):
  return price * unit + fee + tax_rate

x = sum_tax(1000,2000,3000,4000)

print(x)

2007000

In [ ]:
def sum_tax(price, unit, fee, tax_rate):
  return price * unit + fee + tax_rate

x = sum_tax(3000,1000,2000,4000)

print(x)

3006000

In [ ]:
# 키워드 인수 예제 
x = sum_tax(price = 1000, unit = 2000,fee = 3000,tax_rate = 4000)

print(x)

2007000

In [ ]:
# 키워드 인수 + 위치 인수 예제 
x = sum_tax(1000, 200, fee = 3000, 4000)

print(x)

SyntaxError: ignored

In [ ]:
# * arg의 예시

def func(x, y , *args):
  print(x)
  print(y)
  if args:
    print(args)

func(1, 2)

# *args를 사용하면 3,4,5에 대해서 패킹한다.
func(1,2,3,4,5)

1
2

In [ ]:
## **kwargs 예제 

def func(x, y , **kwargs):
  print(x)
  print(y)
  if kwargs:
    print(kwargs)

func(x = 1, y = 2, z = 3)
print()
func(x = 1, y = 2, z = 3, w = 4, r = 5)

1
2
{'z': 3}

1
2
{'z': 3, 'w': 4, 'r': 5}

In [ ]:
# *과 **의 조합

def func(a, *args, **kwargs):
  print(a)
  print(args)
  print(kwargs)

func(1, 100, 200 ,x = 1, y = 2)
print()
func(1, 100, 200, x = 1,y = 2,z = 3,w = 4,r = 5)

1
(100, 200)
{'x': 1, 'y': 2}

1
(100, 200)
{'x': 1, 'y': 2, 'z': 3, 'w': 4, 'r': 5}

In [ ]:
# 함수 바깥에서의 *와 **는 언패킹이 된다.

# [리스트, 튜플 언패킹]

def func(x, y, z):
  print(x, y, z)
  return x + y + z

params = [1,2,3]
w = func(*params)
print(w)

1 2 3
6

In [ ]:
# 딕셔너리 언패킹

def func(x,y,z):
  print(x,y,z)
  return x + y+ z

params = {"x" : 1, "y" : 2, "z" : 3} # -> func(1,2,3)
w = func(**params)
print(w)

1 2 3
6

In [ ]:
# 언패킹 결합

def func(x,y,z,a,b):
  print(x,y,z,a,b)
  return x+y+z+a+b

params1 = [1,2,3]
params2 = {"a" : 4, "b" : 5}
w = func(*params1, **params2)
print(w)

1 2 3 4 5
15

In [ ]:
# 함수의 변수화

def add_num(x, y):
  return x + y

f = add_num

y = add_num(100,200)
print(y)

x = f(100, 200)
print(x)

300
300

In [ ]:
# 데코레이터
def uppercase_decorator(func):
    def wrapper():
        result = func().upper()
        return result
    return wrapper

def say_hello():
    return "hello"

print(say_hello())  # 출력: HELLO

hello

In [ ]:
def uppercase_decorator(func):
    def wrapper():
        result = func().upper()
        return result
    return wrapper

@uppercase_decorator
def say_hello():
    return "hello"

print(say_hello())  # 출력: HELLO

HELLO

In [ ]:
# 제너레이터 예시

# 파이썬에서는 제너레이터라는 기능도 제공합니다. 
# 제너레이터를 사용하면 함수를 처리하는 도중에 잠시 중단하고, 
# 값을 반환할 수 있으며, 이를 yield라고도 부릅니다. 
# 이후 필요에 따라 처리를 할 수도 있습니다.

# 제너레이터 함수의 반환값은 generator 타입 변수입니다. 
# 제너레이터 객체는 next함수를 이용해 다음 값을 반환할 수 있습니다.

In [ ]:
def sample_generator():
  """제너레이터 함수"""
  print("처리 시작")
  print("처리 재개")
  print("처리 재개")

gen_obj = sample_generator() #제너레이터 객체 생성

처리 시작
처리 재개
처리 재개

In [ ]:
def sample_generator():
  """제너레이터 함수"""
  print("처리 시작")
  yield "아침 먹자"
  print("처리 재개")
  yield "점심 먹자"
  print("처리 재개")
  yield "저녁 먹자"

gen_obj = sample_generator() #제너레이터 객체 생성
print(next(gen_obj))

처리 시작
아침 먹자

In [ ]:
print(next(gen_obj))

처리 재개
점심 먹자

In [ ]:
print(next(gen_obj))

처리 재개
저녁 먹자

In [ ]:
# next로 호출될때까지 실행이 중단되는것을 볼 수 있습니다. 
# 그리고 다시 next로 실행하면 yield가 실행되는것까지 재개되는것을 볼 수 있습니다.

# 2. 클래스_복습

In [ ]:
class 클래스명:
  def __init__(self, 인수):
    self.인수 = 인수
    self.인수1 = 인수1

  def 메서드명(self,인수):
    메서드 행동

In [ ]:
# 객체 = 클래스명(인수) - 객체 생성
# 객체.인스턴스변수 인스턴스변수에 접근
# 객체.메서드명(인수) 메서드 호출

In [ ]:
# 클래스 예시
class User:

  def __init__(self, name, mail):
    """ 초기화 처리"""
    self.name = name
    self.mail = mail

  def print_user_info(self):
    """ 사용자 정보를 Print로 출력"""
    print(self.name) 
    print(self.mail)

In [ ]:
# 객체 생성
# 객체 = 클래스명(인수) - 객체 생성
user = User("User1", "222@naver.com")

In [ ]:
# 인스턴스 변수 호출
user.mail

'222@naver.com'

In [ ]:
#메서드 호출
user.print_user_info()

User1
222@naver.com

In [ ]:
#인스턴스 변수 갱신
user.name = "User2"
#메서드 재호출 - 갱신 확인
user.print_user_info()

User2
222@naver.com

In [ ]:
# 클래스 예시
class User:

  def __init__(self, name, mail):
    """ 초기화 처리"""
    self.name = name
    self.mail = mail

  def print_user_info(self, address):
    """ 사용자 정보를 Print로 출력"""
    print(self.name) 
    print(self.mail)
    print(address)

In [ ]:
# 객체 생성
# 객체 = 클래스명(인수) - 객체 생성
user = User("User1", "222@naver.com")

In [ ]:
user.print_user_info('서울특별시')

User1
222@naver.com
서울특별시

In [ ]:
# 클래스 상속

class 클래스명(상속할 클래스)
  def __init__(self, 인수):
    super().__init__(인수)
    상속받은 클래스에서의 초기화처리

In [ ]:
# 부모 클래스
class User:

  def __init__(self, name, mail):
    """ 초기화 처리"""
    self.name = name
    self.mail = mail

  def print_user_info(self):
    """ 사용자 정보를 Print로 출력"""
    print(self.name)
    print(self.mail)

In [ ]:
# 상속 받을 자녀 클래스
class StudentUser(User): # StudentUser가 상속 받음

  def __init__(self, name, mail, grade):
    # 자녀클래스에서도 __init__을 통해서 초기화 메서드를 생성하려면
    # super().__init__(인자)
    super().__init__(name, mail)
    self.grade = grade

  def answer_question(self):
    print("문제에 대답합니다.")

  def print_grade(self):
    print(self.grade, self.name, self.mail)

In [ ]:
student = StudentUser("Student1", "Student1@1.1", 3)

In [ ]:
student.grade

3

In [ ]:
#상속받은 User메서드 실행
student.print_user_info()

Student1
Student1@1.1

In [ ]:
#StudentUser메서드 실행
student.answer_question()
student.print_grade()

문제에 대답합니다.
3 Student1 Student1@1.1

In [ ]:
# 메서드 종류

인스턴스 메서드 - self로 설정한 클래스 기본 메서드 인스턴스 변수와 클래스변수에 접근가능

클래스 메서드 - 인스턴스를 생성하지 않고 접근할 수 있는 메서드로 클래스 변수에 접근할 수 있지만 인스턴스 변수에는 접근할 수 없다. 

클래스 메서드를 정의할때는 @classmethod 데커레이터를 추가합니다. 그리고 첫번째 인수에 클래스 객체가 자동으로 설정됩니다.

정적 메서드 - 클래스 메서드와 동일하게 인스턴스를 생성하지 않고 접근할 수 있지만 인스턴스 변수와 클래스변수 모두에 접근할 수 없습니다. @staticmethod 데커레이터를 추가하며, 실질적으로 함수와 같은것이라고 보면되는데, 함수를 적절한 클래스에 포함시키는 편이 설계상으로 바람직할때 사용합니다.

In [ ]:
# 비공개 메서드

# 팀 단위의 개발에서 객체 지향 방식으로 구현할때는 
# 변수 및 메서드를 외부에서 조작하지 못하도록 해야할때가 있다. 
# 변수나 메서드 앞에 __를 2개 사용해서 접근을 막을 수 있다.

class Sample():
  def __init__(self, val1):
    self.__instance_val1 = val1

  def __private_method(self):
    print(self.__instance_val1)

s = Sample(10)

In [ ]:
print(s.__instance_val1)

AttributeError: ignored

In [ ]:
s.__private_method()

AttributeError: ignored

In [ ]:
# 특수 메서드

In [ ]:
# str 메서드 - 객체 표시용 문자열
# repr 메서드 - 객체 정보를 나타내는 문자열

In [ ]:
class User:
  def __init__(self, name, mail):
    self.name = name
    self.mail = mail

  def __str__(self):
    return self.name + self.mail

  def __repr__(self):
    return str({'name' : self.name, 'mail' : self.mail})

user = User("홍길동", "happy@naever.com")
print(user)
print(repr(user))

홍길동happy@naever.com
{'name': '홍길동', 'mail': 'happy@naever.com'}

# 정규표현식

In [ ]:
# 정규표현식 기본

# re -> 모듈을 불러와야 수행가능
import re

# [raw 문자열 사용]

# 파이썬에서는 정규표현식 문자열을 사용할때 이스케이프가 필요한 메타문자가 있다. 
# 그래서 raw문자 사용을 권한다.

# 만약 \my-host\라는 문자가 있는 경우\
# raw문자열이 없으면 \\\\my-host\\\\가 되지만
# raw문자열을 사용하면 \\my-host\\가 된다.  앞에 r을 붙이면 된다.

In [ ]:
# findall

# 지정한 정규표현식에 일치하는 문자열을 리스트로 반환
# findall 함수를 사용하면 지정한 조건에 일치하는 문자열을 리스트로 얻을 수 있습니다.

In [ ]:
import re

text1 = "In the face of ambiguity, refuse the temptation to guess"
match_list = re.findall(r"t.", text1)
#2글자를 찾되 첫글자가 t

print(match_list)

['th', 'ty', 'th', 'te', 'ta', 'ti', 'to']

In [ ]:
# sub

# 정규표현식으로 치환한 값을 반영하여 문자열을 반환

import re

text = "Beautiful is better than ugly"
#sub(대체 해야할 문자 / 대체 할 문자 / 데이터)
replaced = re.sub(r" ", "_", text) #공백문자는 \s로도 쓰입니다.
print(replaced)

Beautiful_is_better_than_ugly

## split

정규 표현식에 일치한 위치에서 분할한 문자열 리스트를 반환

In [ ]:
# 정규표현식으로 텍스트 분할하기

# split함수를 사용하면 정규 표현식에 일치한 위치에서 분할한 문자열 리스트를 얻을 수 있습니다.

text = 'Simple is Best'
# ^ -> 문자의 시작 
# + 직전 정규표현식을 1회이상 반복
replaced = re.split((r"[^a-zA-Z]+"), text)
print(replaced)

#[^a-zA-Z0-9]+는 정규 표현식(regular expression)에서 사용되는 특수한 패턴으로, 
#알파벳 대소문자와 숫자가 아닌 문자들이 하나 이상 연속해서 나타나는 경우를 의미합니다.
# 결국 공백을 구분자로 해서 분리

['Simple', 'is', 'Best']

In [ ]:
# 정규표현식으로 텍스트 분할하기

# split함수를 사용하면 정규 표현식에 일치한 위치에서 분할한 문자열 리스트를 얻을 수 있습니다.

text = 'Simple is Best'
# ^ -> 문자의 시작 
# + 직전 정규표현식을 1회이상 반복
replaced = re.split((r"[^a-zA-Z]+"), text)
print(replaced)

#[^a-zA-Z0-9]+는 정규 표현식(regular expression)에서 사용되는 특수한 패턴으로, 
#알파벳 대소문자와 숫자가 아닌 문자들이 하나 이상 연속해서 나타나는 경우를 의미합니다.
# 결국 공백을 구분자로 해서 분리

In [ ]:
# 정규표현식의 그룹은 데이터 분석 할때 자주 사용하는 기능으로
# 원하는 객체를 그루핑할 수 있다라는 장점이 있습니다.

# 제품 -> [0-9]+
# 카탈로그 코드 [0-9A-Z]+
# 제품명 .*
# 구분 문자 공백

# ([0-9]+) +([ 0-9 A-Z]+) +(.*)

#홈쇼핑#
text = """
101 CF001 커피 
102 CF002 커피(대용량)
201 TE01 홍차
202 TE02 홍차(대용량)
"""
#group 1 
#group 2
#group 3
items = re.findall(r'([0-9]+) +([ 0-9 A-Z]+) +(.*)', text)
print(items)

[('101', 'CF001', '커피 '), ('102', 'CF002', '커피(대용량)'), ('201', 'TE01', '홍차'), ('202', 'TE02', '홍차(대용량)')]

In [ ]:
# 정규표현식 일치하는 부분 확인

# search함수 - 정규표현식과 일치하는 첫번째 위치정보가 저장된 Match객체를 반환

In [ ]:
# 정규표현식과 일치하는 부분 확인

# re 모듈의 serach함수는 정규표현식과 일치하는 첫 번째 위치 정보가 저장된 Match 객체를 반환
# Match 객체를 사용하면 일치하는 위치의 문자열과 함께 시작 및 종료 위치 정보 확보 가능

# match객체
# start , end , group, groups 튜플 그룹

import re

text = 'Error should never pass silently'

m_obj = re.search(r"p...", text)

print(m_obj.group()) # 일치 문자열 ()로 묶인 것인 없음
print(m_obj.start()) # 시작 인덱스
print(m_obj.end()) # 끝 인덱스

pass
19
23

In [ ]:
import re

text = 'Errors should never pass silently'
# 1번 그룹 - n.... n다음에 4글자가 아무거나
# 2번 그룹 - P... n다음에 3글자가 아무거나

m_obj = re.search(r"(n....) (p...)", text)
print(m_obj.group())
print(m_obj.groups())

print(m_obj.start()) # 시작 인덱스
print(m_obj.end()) # 끝 인덱스

never pass
('never', 'pass')
14
24

## Greedy Lazy

In [ ]:
# Greedy, Lazy 사용하기
# 정규표현식이 패턴에 일치하는 문자열을 추출할때
# 일치하는 최대한의 범위를 추출하는 상태를 greedy(탐욕)이라고 한다.

# 최소한은  Lazy라고 하는데 파이썬은 기본적으로 greedy하지만
# ?를 붙이는 순간 Lazy해진다. 

import re

text = 'In the face of ambiguity, refuse the temptation to guess'

match_list = re.findall(r"t.*\s", text) # t에서 아무문자나 해서 직전까지 0번 반복되어 공백까지
print(match_list)

# ?를 붙이면 t에서 가장 가까운 공백까지만 일치하는 것을 찾는 것을 볼 수 있음

['the face of ambiguity, refuse the temptation to ']

In [ ]:
import re

text = 'In the face of ambiguity, refuse the temptation to guess'

match_list = re.findall(r"t.*?\s", text) # t에서 아무문자나 해서 직전까지 0번 반복되어 공백까지
print(match_list)

['the ', 'ty, ', 'the ', 'temptation ', 'to ']