In [ ]:
#SQL 연습문제 1-3
#주문정보(orders) 테이블의 모든 데이터를 조회하세요.
select *
FROM `thelook_ecommerce.orders`;

In [ ]:
# SQL 연습문제 1-4
# 회원(users) 테이블의 이메일(email) 정보를 조회하세요.
SELECT email
FROM `thelook_ecommerce.users`;

In [ ]:
# SQL 연습문제 1-5
# 회원(users) 테이블의 이름(first_name), 성(lastname), 이메일(email), 국가 정보(country)를 조회하세요.
SELECT first_name, last_name, email, country
FROM `thelook_ecommerce.users`;

In [ ]:
# SQL 연습문제 1-6

# 상품정보(products) 테이블의 id, 카테고리(category), 이름(name), 판매가격(retail_price), 비용(cost)을 조회하세요.
SELECT id, category, name, retail_price, cost
FROM `thelook_ecommerce.products`;

In [ ]:
# SQL 연습문제 1-7

# 상품정보(products) 테이블의 id, 카테고리(category), 이름(name), 판매가격(retail_price), 비용(cost), 판매이익(판매가격 - 비용) profit을 조회하세요.
SELECT id, category, name, retail_price, cost, retail_price-cost as profit
FROM `thelook_ecommerce.products`;

## 1. AS

AS는 해당 컬럼의 이름을 다시 정해서(별칭을 정하여) 보여주는 기능입니다. 주로 식으로 된 컬럼의 컬럼명을 설정하거나 기존의 컬럼명을 보다 간결하게 또는 보다 가독성 있게 설정하는데 사용합니다.

In [ ]:
# 예시_컬럼명 지정
select 
  id as product_id,
  name as product_name,
  retail_price as product_price,
  cost as product_cost,
  retail_price - cost as product_profit
from `thelook_ecommerce.products`;

In [ ]:
# 예시_테이블명 지정
select 
  a.id,
  a.name
from `thelook_ecommerce.products` as a;

## 2. LIMIT

LIMIT는 조회할 결과의 레코드수를 제한합니다. 

LIMIT가 없이 조회를 하면 모든 레코드를 조회하지만 LIMIT <조회할 레코드 수> 를 이용하면 지정한 만큼의 결과 개수만 가지고 옵니다.

In [ ]:
# 예시
select * from `thelook_ecommerce.users` limit 5;

## 3. DISTINCT

DISTINCT는 결과에서 중복되는 행을 제거합니다.

In [ ]:
# 예시
select distinct country
from `thelook_ecommerce.users`;

In [ ]:
### SQL 연습문제 2-1

# 상품정보(products) 테이블에서 5개 레코드만 조회하세요.

select *
from `thelook_ecommerce.products` limit 5;

### SQL 연습문제 2-2

# 회원(users) 테이블에서 이메일 주소(email) 20개를 조회하세요.

select email 
from `thelook_ecommerce.users` limit 20;

In [ ]:
### SQL 연습문제 2-3

# 주문정보(orders) 테이블에서 상태정보(status)를 중복제거하여 아래와 같이 결과가 나오도록 조회하세요.

select distinct status
from `thelook_ecommerce.orders`;

In [ ]:
### SQL 연습문제 2-4

# 상품정보(products) 테이블에서 카테고리(category)를 중복제거하여 아래와 같이 조회하세요.

select distinct category
from `thelook_ecommerce.products`;

In [ ]:
### SQL 연습문제 2-5

# 상품정보(products) 테이블에서 카테고리(category), 브랜드(brand)를 중복제거하여 30개 조회하세요.

# 각 결과 컬럼의 이름은 다음과 같이 지정하세요.

# - 카테고리 → product_category
# - 브랜드 → product_brand

select distinct category as product_category, brand as product_brand
from `thelook_ecommerce.products` limit 30;

In [ ]:
### SQL 연습문제 2-6

# 상품정보(products) 테이블에서 id, 카테고리(category), 이름(name), 
# 판매가격(retail_price), 비용(cost), 판매이익(판매가격 - 비용), 수익율을 조회하세요.

# 비용 1000원, 판매가 1200원 일 경우

# 수익율은 (1,200-1,000)/1,000*100 = 20% 입니다.

# 수익율 : (판매가 - 비용) / 비용 x 100

# 각 컬럼의 이름은 다음과 같이 표현합니다.

# - id → product_id
# - 카테고리 → product_category
# - 상품명 → product_name
# - 판매가격 → product_price
# - 비용 → product_cost
# - 판매이익 → product_profit
# - 수익율 → product_profit_rate

SELECT id AS product_id, category AS product_category, name AS product_name,
retail_price AS product_price, cost AS product_cost,
retail_price-cost AS product_profit,
 (retail_price-cost) / cost * 100 AS product_profit_rate
FROM `thelook_ecommerce.products`;

In [ ]:
### SQL 연습문제 3-1

# 상품정보(products) 테이블에서 카테고리(category)가 ‘Swim’ 인 레코드의 모든 항목를 조회하세요.

SELECT *
FROM `thelook_ecommerce.products`;
WHERE category = 'swim';

In [ ]:
### SQL 연습문제 3-2

# 상품정보(products) 테이블에서 브랜드(brand)가 ‘2EROS’인 레코드의 id, 비용(cost), 브랜드(brand)를 조회하세요. 

SELECT id, cost, brand
FROM `thelook_ecommerce.products`
WHERE brand = '2EROS';

In [ ]:
### SQL 연습문제 3-3

# 상품정보(products) 테이블에서 비용(cost)이 30이하이고 상품대상, 구분, 분야(department)이 ‘Men’인 모든 레코드를 10개를 조회하세요.

SELECT *
  FROM `thelook_ecommerce.products`
 WHERE cost <= 30
   AND department = 'Men'
 LIMIT 10;

In [ ]:
### SQL 연습문제 3-4

# 상품정보(products) 테이블에서 
# 판매가격(retail_price)이 40이상인 레코드들의 
# 카테고리(category) 속성값을 
# 중복제거(distinct)하여 조회하세요.

SELECT DISTINCT category
FROM `thelook_ecommerce.products`
WHERE retail_price >= 40;

In [ ]:
### SQL 연습문제 3-5

# 상품정보(products) 테이블에서 비용(cost)이 50이상이고 70이하인 모든 레코드들 조회하세요.

SELECT *
  FROM `thelook_ecommerce.products`
 WHERE cost <= 50 AND cost >= 70;

In [ ]:
### SQL 연습문제 3-6

# 상품정보(products) 테이블에서 상품명(name)에 ‘Men’과 ‘Sport’ 두 단어가 들어간 모든 레코드들 조회하세요.
SELECT *, (cost / retail_price) * 100 AS sale_price
FROM `thelook_ecommerce.products`
WHERE name LIKE '%Men%' AND '%Sport%';

In [ ]:
### SQL 연습문제 3-7

# 상품정보(products) 테이블에서 

# 브랜드(brand)가 ‘TYR’이 아니고 

# 이름(name)에 ‘Suit’가 포함되고 

# 할인율이 50이상인 

# 모든 레코드와 할인율을 조회합니다.

SELECT *
FROM `thelook_ecommerce.products`
WHERE NOT brand = 'TYR' 
AND name LIKE '%Suit%'
AND (cost / retail_price) * 100 >= 50;

In [ ]:
### SQL 연습문제 4-1

# 회원(users) 테이블에서 전체 유저의 평균연령을 조회하세요.

SELECT avg(age) 
FROM `thelook_ecommerce.users`;

In [ ]:
### SQL 연습문제 4-2

# 회원(users) 테이블에서 여성 유저의 평균연령을 조회하세요.

SELECT avg(age) 
FROM `thelook_ecommerce.users`
WHERE gender = 'F';

In [ ]:
### SQL 연습문제 4-3

# 회원(users) 테이블에서 국가별 가입자수를 조회하세요.

SELECT country, count(id) AS country_user_count
FROM `thelook_ecommerce.users`
GROUP BY country;

In [ ]:
### SQL 연습문제 4-4

# 회원(users) 테이블에서 남성 유저의 국가별 가입자 수를 조회하세요.

SELECT country, count(id) AS country_user_count
FROM `thelook_ecommerce.users`
WHERE gender = 'M'
GROUP BY country;

In [ ]:
### SQL 연습문제 4-5

# 회원(users) 테이블에서 

# 가입기간(created_at)이 2020년도 1월인 유저의 

# 국가별 가입자 수 (country_user_count)를 조회하세요.

SELECT country, count(id) AS country_user_count
FROM `thelook_ecommerce.users`
WHERE created_at BETWEEN '2020-01-01' AND '2020-02-01'
GROUP BY country ;

In [ ]:
### SQL 연습문제 4-6

# 회원(users) 테이블에서 가입기간(created_at)이 2020년도 1월인 유저의 

# 국가별 성별 가입자 수(country_gender_user_count)를 조회하세요.

SELECT country, gender, count(id) AS country_gender_user_count
FROM `thelook_ecommerce.users`
WHERE created_at BETWEEN '2020-01-01' AND '2020-02-01'
GROUP BY country, gender;

In [ ]:
### SQL 연습문제 4-7

# 주문정보(orders) 테이블에서 

# 2022년도의 주문 상태가 환불(Returned)인 

# 유저 아이디(user_id), 총 주문 아이템(num_of_item)의 합계를 조회하세요.

SELECT user_id, SUM(num_of_item)
FROM `thelook_ecommerce.orders`
WHERE status = 'Returned'
AND created_at BETWEEN '2022-01-01' AND '2023-01-01'
GROUP BY user_id;