In [ ]:
https://console.cloud.google.com/bigquery

In [ ]:
### 국가별 20세 이하 유저수가 500명 이상인 유저수 국가 TOP 5를 조회하는 과정입니다.
# 어디에서 : 유저테이블
# 조건 : 20세 이하
# 그룹조건 : 유저수 500명이상
# 그룹  : 국가별
# 조회항목 : 국가명, 유저수
# TOP5
# 내림차순 정렬
SELECT country, count(id) AS user_count   # 조회항목 : 국가명, 유저수
FROM `thelook_ecommerce.users`            # 어디에서 : 유저테이블
WHERE age <= 20                           # 조건 : 20세 이하
GROUP BY country                          # 그룹  : 국가별
HAVING count(id) >= 500                   # 그룹조건 : 유저수 500명이상
ORDER BY user_count DESC                  # 내림차순 정렬
LIMIT 5;                                  # TOP5

In [ ]:
### SQL 연습문제 5-1

# 회원 테이블(users)에서 국가별 유저수를 조회하세요.

# - 조회 항목 : 국가명(country), 국가별 유저수(user_count)
# - 조건 : 국가의 유저수가 3000명 이상인 국가
# - 정렬 : 국가별 유저수 많은순으로 정렬

SELECT country, count(id) AS user_count
FROM `thelook_ecommerce.users`
GROUP BY country
HAVING count(id) >= 3000
ORDER BY user_count DESC;

In [ ]:
### SQL 연습문제 5-2

# 상품정보(products) 테이블에서 여성 스웨터중 판매가격이 제일 저렴한 5개를 조회하세요.

# - 조건
#     - category : Sweaters
#     - department : Women
# - 정렬 : 판매가격(retail_price)이 낮은 순
# - 갯수제한 : 5개

SELECT *
FROM `thelook_ecommerce.products`
WHERE category = 'Sweaters'
AND department = 'Women'
ORDER BY retail_price ASC # 기본 값이 오름차 순이라 ASC는 생락 가능하다.
LIMIT 5;

In [ ]:
### SQL 연습문제 5-3

# 상품정보(products) 테이블에서 여성 스웨터의 브랜드별 평균 판매가격이 100이하인 브랜드의 브랜드 이름과 여성스웨터 평균판매가격을 조회하세요.

# - 조건
#     - category : Sweaters
#     - department : Women
# - 그룹조건 : 평균 판매가격이 100 이하
# - 정렬순서 : 평균 판매가격이 높은 순

SELECT brand, AVG(retail_price) AS retail_price_avg
FROM `thelook_ecommerce.products`
WHERE category = 'Sweaters'
AND department = 'Women'
GROUP BY brand
HAVING retail_price_avg <=100
ORDER BY retail_price_avg DESC;

In [ ]:
### SQL 연습문제 5-4

# 상품정보(products) 테이블에서 각 제품의 id, 이름, 카테고리, 브랜드, 비용(cost), 판매가(retail_price), 이익금액(profit), 이익율(profit_rate)을 조회하세요.

# - 이익금액(profit) : 판매가(retail_price) - 비용(cost)
# - 이익율(profit_rate) : (판매가(retail_price) - 비용(cost)) / 판매가(retail_price) * 100
SELECT id,
  name,
  category,
  brand,
  cost,
  retail_price,
  (retail_price - cost) AS profit,
  (retail_price - cost) / retail_price * 100 AS profit_rate
FROM `thelook_ecommerce.products`

In [ ]:
### SQL 연습문제 5-5

# 상품정보(products) 테이블에서 수영카테고리 제품의 각 브랜드별 최소이익율, 최대 이익율, 평균 이익율을 조회하세요.

# - 조건
#     - category : Swim
# - 이익율(profit_rate) : (판매가(retail_price) - 비용(cost)) / 판매가(retail_price) * 100

SELECT
brand,
MIN((retail_price - cost) / retail_price * 100) AS min_profit_rate,
MAX((retail_price - cost) / retail_price * 100) AS max_profit_rate,
AVG((retail_price - cost) / retail_price * 100) AS avg_profit_rate
FROM `thelook_ecommerce.products`
WHERE category = 'Swim'
GROUP BY brand

In [ ]:
### SQL 연습문제 5-6

# 연습문제 5-5 데이터에서 평균이익율이 높은 TOP 5 브랜드와 평균이익율을 조회하세요.

SELECT
brand,
AVG((retail_price - cost) / retail_price * 100) AS avg_profit_rate
FROM `thelook_ecommerce.products`
WHERE category = 'Swim'
GROUP BY brand
ORDER BY avg_profit_rate DESC
LIMIT 5;

In [ ]:
### SQL 연습문제 5-7

# 상품정보(products) 테이블에서 카테고리 별 남성 제품의 수를 조회하세요.
# 단, 카테고리 중 ‘Sport’가 들어가지 않은 카테고리만 조회하시오.

SELECT
category,
count(id)
FROM `thelook_ecommerce.products`

In [ ]:
### SQL 연습문제 6-1

# 상품정보(products) 테이블에서 상품의 id, 상품명(name), 판매가격(retail_price)를 조회합니다.

# 판매가격은 소수점 2자리에서 반올림 합니다.

SELECT
    id,
    name,
    round(retail_price,2) AS retail_price
FROM `thelook_ecommerce.products`

In [ ]:
### SQL 연습문제 6-2

# 회원(users) 테이블에서 나이가 홀수인 회원만 조회하세요.

# 조회 항목은 id, first_name, last_name, age 입니다.

SELECT
    id,
    first_name,
    last_name,
    age
FROM `thelook_ecommerce.users`
WHERE MOD(age,2) = 1;

In [ ]:
### SQL 연습문제 6-3

# 회원(users) 테이블에서 전체이름(full_name)을 조회하세요.

# 성(first_name)과 이름(last_name)을 합쳐서 결과 예시와 같이 조회합니다.

# 이름(last_name)은 모두 대문자로 표시합니다.

select (first_name||','||upper(last_name)) as full_name
from `thelook_ecommerce.users`

# 또는

select concat(first_name,', ',upper(last_name)) as full_name
from `thelook_ecommerce.users`

In [ ]:
### SQL 연습문제 6-4

# 회원(users) 테이블에서 회원아이디(id), 이메일(email), 가입연도(signup_year)을 조회하세요.

SELECT
    id,
    email,
    EXTRACT(YEAR FROM created_at) AS signup_year
FROM `thelook_ecommerce.users`

In [ ]:
### SQL 연습문제 6-5

# 회원(users) 테이블에서 2020년 7월 1일 부터 2020년 7월 10일까지 가입한 회원정보를 조회하세요.

# 가입일시는 created_at 입니다.

SELECT *
FROM `thelook_ecommerce.users`
WHERE DATE(created_at) >= '2020-07-01'
  AND DATE(created_at) < '2020-07-11';

# 또는

SELECT *
  FROM `thelook_ecommerce.users`
 WHERE DATE(created_at) BETWEEN '2020-07-01' AND '2020-07-10';

In [ ]:
### SQL 연습문제 6-6

# 주문정보(orders) 테이블에서 현재로부터 1년전에서 오늘까지 주문한 데이터를 조회하세요.

# - 현재일시 : current_datetime()
# - 주문일시 : created_at

SELECT *
FROM `thelook_ecommerce.orders`
WHERE DATE(created_at) >= DATE_SUB(CURRENT_DATETIME(), INTERVAL 12 MONTH)
ORDER BY created_at DESC;

In [ ]:
### SQL 연습문제 6-7

# 회원(users) 테이블에서 가입연도(signup_year), 연도별 가입자 수(user_count)를 조회하세요.

SELECT
    EXTRACT(YEAR FROM created_at) AS signup_year,
    count(id) AS user_count
FROM `thelook_ecommerce.users`
GROUP BY signup_year
ORDER BY signup_year;

In [ ]:
### SQL 연습문제 6-8

# 가입회원들이 시간대별 가입자수를 확인하려고 합니다.

# 회원(users) 테이블에서 0~23으로 표시되는 시간대(hour), 시간대별 가입자 수(user_count)를 조회하세요.

# 정렬 순서는 시간대(hour)순입니다.

SELECT
  EXTRACT(HOUR FROM created_at) AS hour,
  count(id) AS user_count
FROM `thelook_ecommerce.users`
GROUP BY hour
ORDER BY hour

In [ ]:
### SQL 연습문제 6-9

# 특정 연도의 월별 주문건수

# 주문정보(orders) 테이블에서 2020년도의 월별 주문건수를 조회하세요.

# 조회항목은 연도, 월, 주문건수 입니다.

SELECT
  EXTRACT(YEAR FROM created_at) AS year,
  EXTRACT(MONTH FROM created_at)AS month,
  count(order_id)AS order_count
FROM `thelook_ecommerce.orders`
WHERE EXTRACT(YEAR FROM created_at) = 2020
GROUP BY year, month # GROUP BY 1, 2 도 가능
ORDER BY month; # ORDER BY 2 도 가능

In [ ]:
### SQL 연습문제 6-10

# 회원(users) 테이블에서 다음 내역을 조회하세요.

# - id
# - 이름(first_name)
# - 이름의 길이(name_length)
# - 이름(first_name)의 앞 3글자(part_name)
# - 이름의 앞 3글자를 별표 처리한 이름(name_with_asterisk)

SELECT
    id,
    first_name,
    LENGTH(first_name) AS name_length,
    SUBSTR(first_name, 0, 3) AS part_name,
    REPLACE(first_name, SUBSTR(first_name, 0, 3), '***') AS name_with_asterisk,

#   replace(first_name, substr(first_name, 1, 3), '***') AS name_with_asterisk2,
#   '***' || substr(first_name, 4) as name_with_asterisk3,

FROM `thelook_ecommerce.users`

In [ ]:
### SQL 연습문제 6-11

# 회원(users) 테이블에서 전체 유저의 가입연도별 데이터를 조회하려고 합니다.

# 가입연도(signup_year), 연도별 가입자수(user_count), 최고나이(max_age), 최저나이(min_age), 평균나이(avg_age)를 조회하세요.

# 평균나이는 소수점 둘째자리까지 표시해주세요. 이하 소수점은 반올림처리하여 표시해주세요.

# 정렬 순서는 가입연도 순(signup_year)입니다.

SELECT
  EXTRACT(YEAR FROM created_at) AS signup_year,
  COUNT(id) AS user_count,
  MAX(age) AS max_age,
  MIN(age) AS min_age,
  ROUND(AVG(age), 2) AS avg_age
FROM `thelook_ecommerce.users`
GROUP BY signup_year
ORDER BY signup_year;

In [ ]:
### SQL 연습문제 6-12

# 회원(users) 테이블에서 브라질 여성 유저의 시간대별 유저 가입자수를 조회하세요.

# 조회 항목은 다음과 같습니다.

# - 시간대(hour)
# - 가입자수(user_count)

SELECT
  EXTRACT(hour FROM created_at) AS hour,
  count(id) AS user_count
FROM `thelook_ecommerce.users`
WHERE country = 'Brasil'
AND gender = 'F'
GROUP BY hour
ORDER BY hour

In [ ]:
### SQL 연습문제 6-13

# 회원(users) 테이블에서 남성유저의 가입연도별 국가별 데이터를 조회하려고 합니다.

# 조회 항목은 다음과 같습니다.

# - 가입 연도(signup_year)
# - 국가명(country)
# - 가입자수(user_count)
# - 최고나이(max_age)
# - 최저나이(min_age)
# - 평균나이(avg_age)

# 정렬순서는 가입연도 내림차순, 가입자수 내림차순 입니다.

# 그룹핑 결과에서 가입자수가 100명 이상인 데이터만 표시해주세요.

SELECT
  EXTRACT(year FROM created_at) AS signup_year,
  country,
  COUNT(id) AS user_count,
  MAX(age) AS max_age,
  MIN(age) AS min_age,
  ROUND(AVG(age), 2) AS avg_age,
FROM `thelook_ecommerce.users`
WHERE gender = 'M'
GROUP BY signup_year, country
HAVING user_count >= 100
ORDER BY signup_year DESC, user_count DESC;

In [ ]:
### SQL 연습문제 6-14

# 다음은 회원(users) 테이블에서의 이메일의 아이디부분만 조회하는 쿼리입니다.

# select left(email,INSTR(email,'@')-1)
# from `thelook_ecommerce.users`;

# 위 쿼리를 수정하여 이메일의 아이디부분의 4번째글자부터 뒤의 글자를 별표 5개로 변경처리하여 조회하세요.

SELECT
    REPLACE(email, SUBSTR (left (email, INSTR(email, '@') - 1), 4), '*****') AS bulr_email
FROM `thelook_ecommerce.users`;

In [ ]:
### SQL 연습문제 7-1

# 주문정보(orders) 테이블에서 order_id, gender, gender_label(gender의 값에 따른 성별을 한글로 표시)을 해주세요.

# - 필드명 : gender_label
#     - gender가 F 이면 '여성'
#     - gender가 M 이면 '남성'
# - 결과로 표시할 필드
#     - order_id
#     - gender
#     - gender_label
# - 정렬순서 : order_id 오름차순

SELECT
  order_id,
  gender,
  CASE
    WHEN gender = 'F' THEN '여성'
    WHEN gender = 'M' THEN '남성' # ELSE '남성'  으로 해도 된다.
  END AS gender_label
FROM `thelook_ecommerce.orders`
ORDER BY order_id;

In [ ]:
### SQL 연습문제 7-2

# 회원(users) 테이블에서 다음 정보를 조회하세요.

# 1) 조회 항목

# - 유저아이디 - id,
# - 가입연도 - year
# - 가입월 - month
# - 가입일 - day
# - 이용경로(traffic_source) 한글 텍스트 -  traffic_source_label
#     - Search → 검색엔진
#     - Organic → 검색결과
#     - Email → 이메일
#     - Display → 디스플레이 광고
#     - Facebook → 페이스북

# 2) 정렬순서

# - id 오름차순

SELECT
  id,
  EXTRACT(YEAR FROM created_at) AS year,
  EXTRACT(MONTH FROM created_at) AS month,
  EXTRACT(DAY FROM created_at) AS day,
  CASE
    WHEN traffic_source = 'Search' THEN '검색엔진'
    WHEN traffic_source = 'Organic' THEN '검색결과'
    WHEN traffic_source = 'Email' THEN '이메일'
    WHEN traffic_source = 'Display' THEN '디스플레이 광고'
    WHEN traffic_source = 'Facebook' THEN '페이스북'
  END AS traffic_source_label
FROM `thelook_ecommerce.users`
ORDER BY id;

In [ ]:
SELECT
  id,
  EXTRACT(YEAR FROM created_at) AS year,
  EXTRACT(MONTH FROM created_at) AS month,
  EXTRACT(DAY FROM created_at) AS day,
# 차이점. 단순 비교할땐 이게 더 좋은 코드.
 CASE traffic_source
    WHEN 'Search' THEN '검색엔진'
    WHEN 'Organic' THEN '검색결과'
    WHEN 'Email' THEN '이메일'
    WHEN 'Display' THEN '디스플레이 광고'
    WHEN 'Facebook' THEN '페이스북'
  END AS traffic_source_label
FROM `thelook_ecommerce.users`
ORDER BY id;