In [ ]:
### SQL 연습문제 7-3

# 회원(users) 테이블에서 가입연도별 이용경로(traffic_source)별 가입자수를 조회하세요.

# 조회 항목

# - year
# - Search
# - Organic
# - Email
# - Display
# - Facebook
# - Total

# 정렬순서

# - year 오름차순

SELECT
  EXTRACT(YEAR FROM created_at) AS year,
  COUNT(CASE WHEN traffic_source = 'Search' THEN traffic_source END) AS Search,
  COUNT(CASE WHEN traffic_source = 'Organic' THEN traffic_source END) AS Organic,
  COUNT(CASE WHEN traffic_source = 'Email' THEN traffic_source END) AS Email,
  COUNT(CASE WHEN traffic_source = 'Display' THEN traffic_source END) AS Display,
  COUNT(CASE WHEN traffic_source = 'Facebook' THEN traffic_source END) AS Facebook,
  COUNT(traffic_source) AS Total
FROM `thelook_ecommerce.users`
GROUP BY year
ORDER BY year;

In [ ]:
# 3번문제를 풀면서 먼저 쿼리를 파악하기 쉽게 아래와 같이 작업해가며 쿼리를 짜보면서 실행을 반복해본다.

SELECT
  id,
  traffic_source,
  CASE WHEN traffic_source = 'Search' THEN 1 END AS is_search,
  CASE WHEN traffic_source = 'Display' THEN 1 END AS is_display,
  CASE WHEN traffic_source = 'Organic' THEN 1 END AS is_organic
FROM `thelook_ecommerce.users`
LIMIT 100;

In [ ]:
### SQL 연습문제 7-4

# 주문정보(orders) 테이블에서 주문을 3번 이상 구매한 사람의 등급을 ‘Gold’,
# 4번 이상 구매한 사람의 등급은 ‘VIP’, 그 외에는 'Silver'라고 등급을 지정해 줍니다.

SELECT
  user_id,
  COUNT(user_id) AS order_count,
  CASE
    WHEN COUNT(user_id)>=4 THEN 'VIP'
    WHEN COUNT(user_id)>=3 THEN 'Gold'
  ELSE 'Silver'
  END AS Grade
FROM `thelook_ecommerce.orders`
GROUP BY user_id
ORDER BY user_id;

In [ ]:
### SQL 연습문제 7-5

# 상품정보(products) 테이블에서 상품의 id, 상품명(name), 사이즈(size)라는 컬럼을
# 하나 만들도록 하겠습니다.

# 상품명 맨 끝에 ‘XS’, ‘S’, ‘M’, ‘L’, ‘XL’, ‘XXL’ 라고 적혀져 있습니다.
# 사이즈 컬럼에 맞는 값을 저장하고 조건에 부합하지 않는 경우에는 NULL 값을 넣어줍니다.

# - 정렬순서 : size 내림차순
SELECT
  name,
  CASE
    WHEN name LIKE '%XS' THEN 'XS'
    WHEN name LIKE '%S' THEN 'S'
    WHEN name LIKE '%M' THEN 'M'
    WHEN name LIKE '%XXL' THEN 'XXL'
    WHEN name LIKE '%XL' THEN 'XL'
    WHEN name LIKE '%L' THEN 'L'
  END AS size
FROM `thelook_ecommerce.products`
ORDER BY size DESC;

In [ ]:
### SQL 연습문제 7-6

# **각 연도의 분기별 매출 합계**

# order_items 테이블에서 각 연도의 분기별 매출합계을 표시하세요.

# order_items의 status가 `Complete` 인 항목만 포함합니다.

# 표시항목

# - year
# - quarter
# - sum_sale_price - 소수점 2자리 반올림

# 정렬 순서

# - year 오름차순
# - quarter 오름차순

SELECT
  EXTRACT(year FROM created_at) AS year,
  EXTRACT(quarter FROM created_at) AS quarter,
  ROUND(SUM(sale_price), 2) AS sum_sale_price
FROM `thelook_ecommerce.order_items`
WHERE status = 'Complete'
GROUP BY year, quarter
ORDER BY year, quarter;

In [ ]:
### SQL 연습문제 7-7

# order_items 테이블에서 각 연도의 분기별 매출을 가로로 펼쳐서 표시하세요.

# order_items의 status가 `Complete` 인 항목만 포함합니다.

# 각 쿼터별 매출합계는 소수점 2자리까지 반올림하여 표시합니다.

# 표시 항목

# - YEAR
# - Q1
# - Q2
# - Q3
# - Q4
# - TOTAL

# 정렬순서

# - YEAR

SELECT
  EXTRACT(year FROM created_at) AS year,
  ROUND(SUM(CASE WHEN EXTRACT(quarter FROM created_at) = 1 THEN sale_price END), 2) AS Q1,
  ROUND(SUM(CASE WHEN EXTRACT(quarter FROM created_at) = 2 THEN sale_price END), 2) AS Q2,
  ROUND(SUM(CASE WHEN EXTRACT(quarter FROM created_at) = 3 THEN sale_price END), 2) AS Q3,
  ROUND(SUM(CASE WHEN EXTRACT(quarter FROM created_at) = 4 THEN sale_price END), 2) AS Q4,
  ROUND(SUM(sale_price), 2) AS TOTAL
FROM `thelook_ecommerce.order_items`
WHERE status = 'Complete'
GROUP BY year
ORDER BY year;

JOIN

In [ ]:
# 1) weniv_order 테이블과 weniv_user테이블의 JOIN후 조회
SELECT
  a.order_id,
  b.name,
  a.created_at
FROM `weniv.weniv_order` a
JOIN `weniv.weniv_user` b ON a.user_id = b.id

In [ ]:
# 2) weniv_order 테이블과 weniv_product 테이블의 JOIN 후 조회
SELECT
  a.order_id,
  b.id as product_id,
  b.name,
  a.created_at as ordered_at
FROM `weniv.weniv_order` a
  JOIN `weniv.weniv_product` b ON a.product_id = b.id

In [ ]:
# 3) weniv_order 테이블과 weniv_user 테이블과 weniv_product 테이블의 조회
SELECT
  o.*,
  u.name as user_name,
  p.name as product_name,
  p.cost as product_cost
FROM `weniv.weniv_order` o
  JOIN `weniv.weniv_product` p on o.product_id = p.id
    JOIN `weniv.weniv_user` u on o.user_id = u.id

In [ ]:
SELECT
  t1.id AS order_item_id,
  t1.user_id AS user_id,
  t2.first_name AS user_name,
  t1.product_id AS product_id,
  t3.name AS product_name
FROM `thelook_ecommerce.order_items` t1
JOIN `thelook_ecommerce.users` t2 on t1.user_id = t2.id
JOIN `thelook_ecommerce.products` t3 on t1.product_id = t3.id

In [ ]:
SELECT
  t2.city,
  count(t1.id) AS order_count
FROM `thelook_ecommerce.order_items` t1
JOIN `thelook_ecommerce.users` t2 on t1.user_id = t2.id
JOIN `thelook_ecommerce.products` t3 on t1.product_id = t3.id
WHERE t2.country = 'Brasil'
AND t3.category = 'Swim'
GROUP BY t2.city
HAVING order_count >= 40

In [ ]:
### SQL 연습문제 8-1

# 회원(users) 테이블과 주문정보(orders) 테이블을 이용하여 모든 주문내역에 회원정보를 표시하세요.

# - 조회 항목 :
#     - 주문ID(order_id)
#     - 주문한 상품 수량(num_of_item)
#     - 회원 이름(first_name, last_name)
#     - 주소(street_address)
#     - 우편번호(postal_code)
#     - 도시(city)
#     - 국가(country)

SELECT
  order_id,
  num_of_item,
  first_name,
  last_name,
  street_address,
  postal_code,
  city,
  country
FROM `thelook_ecommerce.orders` t1
LEFT JOIN `thelook_ecommerce.users` t2
ON t1.user_id = t2.id
ORDER BY order_id;

In [ ]:
### SQL 연습문제 8-2

# 회원(users) 테이블과 주문정보(orders) 테이블을 이용하여 상품을 주문한 회원의 국가가 ‘United States’이면서 주문 상태가 처리중(Processing)인 정보를 조회하시오.

# - 조회 항목 : 회원 이름(first_name, last_name), 주소(street_address), 우편번호(postal_code), 도시(city), 국가(country), 주문한 상품 수량(num_of_item)
# - 조건 : 국가가 ‘United States’이면서 주문 상태가 처리중(Processing)

SELECT
  first_name,
  street_address,
  postal_code,
  city,
  country,
  num_of_item
FROM `thelook_ecommerce.orders` t1
LEFT JOIN `thelook_ecommerce.users` t2
ON t1.user_id = t2.id
WHERE t2.country = 'United States' AND t1.status = 'Processing'

In [ ]:
### SQL 연습문제 8-3

# 회원(users) 테이블과 주문정보(orders) 테이블을 이용하여 국가별 총 상품 주문주(total_order_count)을 조회하시오.

# - 조회 항목 : 국가명(country), 국가별 총 상품 주문주(total_order_count)
# - 정렬 : 국가별 총 상품 주문주(total_order_count)이 많은 순으로 정렬

SELECT
  country,
  count(order_id) AS total_order_count
FROM `thelook_ecommerce.orders` t1
LEFT JOIN `thelook_ecommerce.users` t2
ON t1.user_id = t2.id
GROUP BY country
ORDER BY total_order_count DESC;

In [ ]:
### SQL 연습문제 8-4

# 주문상품(order_items) 테이블과 상품정보(products) 테이블을 이용하여 필요한 정보를 조회하시오.

# - 조회 항목 : 가격(cost), 카테고리(category), 상품명(name), 브랜드(brand),
#               판매가격(retail_price), 주문상태(status), 주문일시(created_at),
#               배송일시(shipped_at), 배송완료일시(delivered_at)
# - 조건 : 카테고리(category)가 'Outerwear & Coats'
# - 정렬 : 주문일시(created_at) 기준으로 최신순으로 정렬

SELECT
  t2.cost,
  t2.category,
  t2.name,
  t2.brand,
  t2.retail_price,
  t1.status,
  t1.created_at,
  t1.shipped_at,
  t1.delivered_at
FROM `thelook_ecommerce.order_items` t1
JOIN `thelook_ecommerce.products` t2
  ON t1.product_id = t2.id
WHERE t2.category = 'Outerwear & Coats'
ORDER BY created_at DESC;

In [ ]:
### SQL 연습문제 8-5

# 주문상품(order_items) 테이블과 상품정보(products) 테이블을 이용하여
# 2022년 한해 주문한 상품들의 정보를 조회하시오.

# - 조회 항목 : 주문일(order_date), 상품명(name), 주문상태(status),
#               원가(cost), 판매가격(retail_price), 카테고리(category), 브랜드(brand)
# - 주문일은 `2022-01-01` 와 같은 `%Y-%m-%d` 포맷으로 표시해주세요.
# FORMAT_DATE 함수 이용합니다.
# order_items의 created_at을 데이터를 사용하여 조회하면 됩니다.
# - 조회 조건
#     - 주문일시 : 2022-01-01 ~ 2022-12-31
# - 정렬 조건 : 주문일시(created_at) 오름차순

SELECT
  FORMAT_DATE('%Y-%m-%d',t1.created_at) AS order_date,
  t2.name,
  t1.status,
  t2.cost,
  t2.retail_price,
  t2.category,
  t2.brand
FROM `thelook_ecommerce.order_items` t1
JOIN `thelook_ecommerce.products` t2
  ON t1.product_id = t2.id
WHERE FORMAT_DATE('%Y-%m-%d',t1.created_at) between '2022-01-01' and '2022-12-31'
# WHERE EXTRACT(YEAR FROM t1.created_at) = 2022        도 사용 가능하다.
ORDER BY created_at;

In [ ]:
### SQL 연습문제 8-6

# 주문상품(order_items) 테이블과 상품정보(products) 테이블을 이용하여
# 주문한 상품의 브랜드 별 평균판매가격(brand_avg_sale_price)을 조회하시오.

# - 조회 항목
#     - 브랜드(brand)
#     - 브랜드 별 평균판매가격(brand_avg_sale_price)
#         - 소수점 2자리까지 표시, 반올림 처리
# - 정렬 : 브랜드명 오름차순 정렬

SELECT
  t2.brand,
  ROUND(AVG(t1.sale_price), 2) AS brand_avg_sale_price
FROM `thelook_ecommerce.order_items` t1
JOIN `thelook_ecommerce.products` t2
  ON t1.product_id = t2.id
GROUP BY brand
ORDER BY brand;

In [ ]:
### SQL 연습문제 8-7

# 주문상품(order_items) 테이블과 상품정보(products) 테이블을 이용하여

# 여성파트 주문완료상품의 날짜별 상품별 매출합계과 평균매출을 구하세요.

# 단 주문건수가 2개이상인 데이터만 표시하세요.

# 조회항목

# - 주문일 (order_date)
#     - 표시 형식 : 2022-01-01
# - 상품명 (product_name)
# - 주문건수 (order_count)
# - 매출합계 (sum_sale_price) - 소수점 2자리까지 표시, 반올림
# - 평균매출(avg_sale_price) - 소수점 2자리까지 표시, 반올림

# 필터 조건

# - 상품의 department가 Women 입니다.
# - 주문의 상태가 `Complete` 인 주문만 포함합니다.
# - 주문건수가 2개 이상 데이터만 표시

# 정렬조건

# - 주문일 오름차순
# - 상품명 오름차순

SELECT
  FORMAT_DATE('%Y-%m-%d',t1.created_at) AS order_date,
  t2.name AS product_name,
  count(t1.id) AS order_count,
  ROUND(SUM(t1.sale_price), 2) AS sum_sale_price,
  ROUND(AVG(t1.sale_price), 2) AS avg_sale_price
FROM `thelook_ecommerce.order_items` t1
JOIN `thelook_ecommerce.products` t2
  ON t1.product_id = t2.id
WHERE t2.department = 'Women'
AND t1.status = 'Complete'
GROUP BY order_date, product_name
HAVING order_count >= 2
ORDER BY order_date, product_name;

In [ ]:
### SQL 연습문제 8-8

# 주문상품(order_items) 테이블과 상품정보(products) 테이블을 이용하여 주문id 당 매출 합계 정보를 구하세요.

# group by order_id를 이용하세요.

# - 조회 항목 :
#     - 주문 id(order_id)
#     - 비용 합계(sum_cost)
#     - 판매가격 합계(sum_retail_price)
#     - 총 이익(sum_profit)

SELECT
  t1.order_id,
  ROUND(SUM(t2.cost), 2) AS sum_cost,
  ROUND(SUM(t2.retail_price), 2) AS sum_retail_price,
  ROUND(SUM(t2.retail_price - t2.cost), 2) AS sum_profit
FROM `thelook_ecommerce.order_items` t1
JOIN `thelook_ecommerce.products` t2
  ON t1.product_id = t2.id
GROUP BY t1.order_id
ORDER BY t1.order_id

In [ ]:
### SQL 연습문제 8-9

# 사용자 이벤트(events) 테이블에서 일별 이벤트타입별 이벤트 발생 횟수를 조회해보세요.

# 조회항목

# - 이벤트 발생일(date)
# - home 이벤트 횟수 (home)
# - department 이벤트 횟수 (department)
# - product 이벤트 횟수 (product)
# - cart 이벤트 횟수 (cart)
# - purchase 이벤트 횟수 (purchase)
# - cancel 이벤트 횟수 (cancel)

# 정렬순서

# - 이벤트 발생인 오름차순

SELECT
  FORMAT_DATE('%Y-%m-%d', created_at) AS date,
  count(CASE WHEN event_type = 'home' THEN 1 END) AS home,
  count(CASE WHEN event_type = 'department' THEN 1 END) AS department,
  count(CASE WHEN event_type = 'product' THEN 1 END) AS product,
  count(CASE WHEN event_type = 'cart' THEN 1 END) AS cart,
  count(CASE WHEN event_type = 'purchase' THEN 1 END) AS purchase,
  count(CASE WHEN event_type = 'cancel' THEN 1 END) AS cancel
FROM `thelook_ecommerce.events`
GROUP BY date
ORDER BY date;

In [ ]:
SELECT
      DATE(created_at) as date
     ,SUM(if(event_type = "home", 1, 0)) as home
     ,SUM(if(event_type = "department", 1, 0)) as department
     ,SUM(if(event_type = "product", 1, 0)) as product
     ,SUM(if(event_type = "cart", 1, 0)) as cart
     ,SUM(if(event_type = "purchase", 1, 0)) as purchase
     ,SUM(if(event_type = "cancel", 1, 0)) as cancel
FROM `thelook_ecommerce.events`
GROUP BY date
ORDER BY date;