In [ ]:
### 2.3.1 **2022년 분기별(계절별) 주문건, 총 매출, 평균 매출**

# order_items 테이블에서 2022년도의 분기별 주문건수, 총 판매금액, 평균 판매금액을 조회해보세요.

# **조회 항목**

# - 분기(quarter)
# - 주문 건수 (total_order_count)
# - 판매 금액 합계 (total_sale_price)
# - 평균 판매금액 (avg_sale_price)

# **정렬 순서**

# - 분기(quarter) 오름차순

SELECT
  EXTRACT(QUARTER FROM created_at) AS quarter,
  COUNT(DISTINCT order_id) AS total_order_count,
  ROUND(SUM(sale_price), 2) AS total_sale_price,
  ROUND(AVG(sale_price), 2) AS avg_sale_price
FROM `thelook_ecommerce.order_items`
WHERE EXTRACT(YEAR FROM created_at) = 2022
GROUP BY quarter
ORDER BY quarter

In [ ]:
### 2.3.2 2022년도 이하 **모든 연도의 분기별(계절별) 주문건, 총 매출, 평균 매출**

# order_items 테이블에서 2022년도 이하 모든 연도의 분기별 주문건수, 총 판매금액, 평균 판매금액을 조회해보세요.

# **조회 항목**

# - 분기(quarter)
# - 주문 건수 (total_order_count)
# - 판매 금액 합계 (total_sale_price)
# - 평균 판매금액 (avg_sale_price)

# **정렬 순서**

# - 분기(quarter) 오름차순

SELECT
  EXTRACT(QUARTER FROM created_at) AS quarter,
  COUNT(DISTINCT order_id) AS total_order_count,
  ROUND(SUM(sale_price), 2) AS total_sale_price,
  ROUND(AVG(sale_price), 2) AS avg_sale_price
FROM `thelook_ecommerce.order_items`
WHERE EXTRACT(YEAR FROM created_at) <= 2022
GROUP BY quarter
ORDER BY quarter

In [ ]:
### 2.3.3 **2022년도와** 2022년도 이하 **모든 연도의 분기별 주문건수, 판매금액합계, 평균판매금액**

# order_items 테이블에서 분기별 주문건수, 판매금액합계, 평균 판매금액을 조회해보세요.

# **조회 항목**

# - 분기(quarter)
# - 2022년도의 분기 주문건수 (order_count_2022)
# - 모든 연도의 분기 주문건수 (order_count_total)
# - 2022년도의 분기 판매금액 합계 (sum_sale_price_2022)
# - 모든 연도의 분기 판매금액 합계 (sum_sale_price_total)
# - 2022년도의 분기 평균판매금액 (avg_sale_price_2022)
# - 모든 연도의 분기 평균 판매금액 (avg_sale_price_total)

# **정렬 순서**

# - 분기(quarter) 오름차순

WITH sale_2022 AS (
  SELECT
    EXTRACT(QUARTER FROM created_at) AS quarter,
    COUNT(DISTINCT order_id) AS total_order_count,
    ROUND(SUM(sale_price), 2) AS total_sale_price,
    ROUND(AVG(sale_price), 2) AS avg_sale_price
  FROM `thelook_ecommerce.order_items`
  WHERE EXTRACT(YEAR FROM created_at) = 2022
  GROUP BY quarter
), sale_total AS(
  SELECT
  EXTRACT(QUARTER FROM created_at) AS quarter,
  COUNT(DISTINCT order_id) AS total_order_count,
  ROUND(SUM(sale_price), 2) AS total_sale_price,
  ROUND(AVG(sale_price), 2) AS avg_sale_price
FROM `thelook_ecommerce.order_items`
WHERE EXTRACT(YEAR FROM created_at) <= 2022
GROUP BY quarter
)
SELECT
  t1.quarter,
  t1.total_order_count AS order_count_2022,
  t2.total_order_count AS order_count_total,
  t1.total_sale_price AS sum_sale_price_2022,
  t2.total_sale_price AS sum_sale_price_total,
  t1.avg_sale_price AS avg_sale_price_2022,
  t2.avg_sale_price AS avg_sale_price_total
FROM sale_2022 t1
JOIN sale_total t2
ON t1.QUARTER = t2.QUARTER
ORDER BY 1;

In [ ]:
### 2.5.3 연도별 시간대 **주문건**

# order_items 테이블에서 2022년도 이하 모든 연도의 연도별 시간대별 주문건수, 총 판매금액, 평균 판매금액을 조회해보세요.

# **조회 항목**

# - 시간(hour)
# - 전체 주문 건수 (total_count)
# - 2019년 주문 건수 (year_2019)
# - 2020년 주문 건수 (year_2020)
# - 2021년 주문 건수 (year_2021)
# - 2022년 주문 건수 (year_2022)

# **정렬 순서**

# - 시간(hour) 오름차순

SELECT
  EXTRACT(HOUR FROM created_at) AS hour,
  COUNT(DISTINCT order_id) AS total_count,
  COUNT(DISTINCT (CASE WHEN EXTRACT(YEAR FROM created_at) = 2019 THEN order_id END)) AS year_2019,
  COUNT(DISTINCT (CASE WHEN EXTRACT(YEAR FROM created_at) = 2020 THEN order_id END)) AS year_2020,
  COUNT(DISTINCT (CASE WHEN EXTRACT(YEAR FROM created_at) = 2021 THEN order_id END)) AS year_2021,
  COUNT(DISTINCT (CASE WHEN EXTRACT(YEAR FROM created_at) = 2022 THEN order_id END)) AS year_2022,
FROM `thelook_ecommerce.order_items`
WHERE EXTRACT(YEAR FROM created_at) <= 2022
GROUP BY hour
ORDER BY hour;

https://www.youtube.com/watch?v=BHwzDmr6d7s

In [ ]:
### 2.6.2 **2022년 국가 도시별 주문건, 총 매출, 평균 매출**

# order_items 테이블에서 2022년도의 국가 및 도시별 주문건수, 총 판매금액, 평균 판매금액을 조회해보세요.

# **조회 항목**

# - 국가(country)
# - 도시(city)
# - 주문 건수 (order_count)
# - 판매 금액 합계 (total_sale_price)
# - 평균 판매금액 (avg_sale_price)

# **정렬 순서**

# - 주문 건수 (order_count) 내림차순
WITH stats_city AS (
SELECT
  t2.country,
  t2.city,
  COUNT(DISTINCT order_id) AS order_count,
  ROUND(SUM(sale_price), 2) AS total_sale_price,
  ROUND(AVG(sale_price), 2) AS avg_sale_price
FROM `thelook_ecommerce.order_items` t1
LEFT JOIN `thelook_ecommerce.users` t2
ON t1.user_id = t2.id
WHERE t1.created_at >= '2022-01-01'
AND t1.created_at < '2023-01-01'
GROUP BY country, city
)
SELECT
  *,
  RANK() OVER(ORDER BY order_count DESC) AS rank
FROM stats_city
ORDER BY order_count DESC

In [ ]:
### 2.8.1 **브랜드별 전체 주문건, 2022년 주문건 및 주문건 순위**

# order_items 테이블과 products 테이블에서 2022년도와 2022년도 이하 모든 연도의
# 브랜드별 주문건수와 주문건수 순위 조회해보세요.

# **조회 항목**

# - 브랜드(brand)
# - 전체 주문 건수 (order_count_total)
# - 2022년도 주문 건수 (order_count_2022)
# - 2022년도 기준 주문건수 순위 (rank_2022)

# **정렬 순서**

# - 2022년도 기준 주문건수 순위 (rank_2022) 오름차순

WITH brand_order_count AS (
SELECT
  t2.brand,
  COUNT(DISTINCT order_id) AS order_count_total,
  COUNT(DISTINCT (CASE WHEN (t1.created_at >= '2022-01-01'
AND t1.created_at < '2023-01-01') THEN t1.order_id END)) AS order_count_2022,
FROM `thelook_ecommerce.order_items` t1
LEFT JOIN `thelook_ecommerce.products` t2
ON t1.product_id = t2.id
WHERE t1.created_at >= '2022-01-01'
AND t1.created_at < '2023-01-01'
GROUP BY brand
)
SELECT
  brand,
  order_count_total,
  order_count_2022,
  RANK() OVER(ORDER BY order_count_2022 DESC) AS rank_2022
FROM brand_order_count
ORDER BY rank_2022;

In [ ]:
### 2.8.2 **브랜드별 전체 총 매출, 2022년 총 매출 및 매출 순위**

# order_items 테이블과 products 테이블에서 2022년도와 2022년도 이하 모든 연도의
# 브랜드별 판매금액 합계, 평균 판매금액을 조회해보세요.

# **조회 항목**

# - 브랜드(brand)
# - 전체 판매금액 합계 (sum_sale_price_total)
# - 2022년도 판매금액 합계 (sum_sale_price_2022)
# - 2022년도 기준 판매금액 합계 순위 (rank_2022)

# **정렬 순서**

# - 2022년도 기준 판매금액 합계 순위 (rank_2022) 오름차순

SELECT
  t2.brand,
  ROUND(SUM(t1.sale_price), 2) AS sum_sale_price_total,
  ROUND(
    SUM(
      CASE
        WHEN t1.created_at >= '2022-01-01'
          AND t1.created_at < '2023-01-01'
        THEN t1.sale_price
      END),
    2) AS sum_sale_price_2022,
  RANK() OVER(ORDER BY ROUND(SUM(CASE WHEN (t1.created_at >= '2022-01-01'
    AND t1.created_at < '2023-01-01') THEN t1.sale_price END), 2) DESC) AS rank_2022
FROM `thelook_ecommerce.order_items` t1
LEFT JOIN `thelook_ecommerce.products` t2
ON t1.product_id = t2.id
WHERE t1.created_at < '2023-01-01'
GROUP BY brand
ORDER BY rank_2022;

In [ ]:
### 3.1.1 VVIP

# VVIP는 구매 금액 합계 상위 0.1% 유저입니다. VVIP 유저 목록을 구하기 위해
# 유저아이디별 주문수, 판매금액합계, 판매금액 합계 순위를 조회하세요.

# **조회 항목**

# - 유저 ID (user_id)
# - 주문수 (order_count)
# - 주문 아이템 수 (order_item_count)
# - 판매금액합계 (sum_sale_price)
# - 판매금액합계 순위 (rank_sale_price)
# - 판매금액합계 퍼센트 랭크 (percent_rank_sale_price) : 소수점 4자리까지 표시 + ‘%’
#     - 예) 0.0012%

# **정렬 순서**

# - 판매금액합계 순위 (rank_sale_price) 오름차순

  SELECT
    user_id,
    COUNT(DISTINCT order_id) AS order_count,
    COUNT(id) AS order_item_count,
    ROUND(SUM(sale_price), 2) AS sum_sale_price,
    RANK() OVER(
      ORDER BY
        ROUND(
          SUM(sale_price), 2) DESC)
    AS rank_sale_price,
      ROUND(
        PERCENT_RANK() OVER (
          ORDER BY
            ROUND(
              SUM(sale_price), 2) DESC) * 100, 4)
    AS percent_rank_sale_price
  FROM `thelook_ecommerce.order_items`
  GROUP BY user_id
  ORDER BY rank_sale_price

In [ ]:
### **3.1.2 VVIP 고객의 주문, 구매 분석**

# 1. VVIP의 주문 횟수는 몇회 일까?
# 2. VVIP의 주문 상품 개수는 몇개 일까?
# 3. VVIP의 구매 금액 합계는 얼마 이상 일까?

# 매출금액 순위 상위 0.1% 유저(VVIP)의 평균주문건수, 평균 주문 아이템 건수,
# 평균 판매가격, 최소구매횟수, 최소 구매금액을 조회하세요.

# **조회 항목**

# - 평균 주문 수 (avg_order_count)
# - 평균 주문 아이템 수 (avg_order_item_count)
# - 평균 판매 금액 (avg_sum_sale_price)
# - 최소 주문 횟수 (min_order_item_count)
# - 최소 판매 금액 합계 (min_sum_sale_price)

WITH vvip_list AS (
  SELECT
    user_id,
    COUNT(DISTINCT order_id) AS order_count,
    COUNT(id) AS order_item_count,
    ROUND(SUM(sale_price), 2) AS sum_sale_price,
    RANK() OVER(
      ORDER BY
        ROUND(
          SUM(sale_price), 2) DESC)
    AS rank_sale_price,
      ROUND(
        PERCENT_RANK() OVER (
          ORDER BY
            ROUND(
              SUM(sale_price), 2) DESC) * 100, 4)
    AS percent_rank_sale_price
  FROM `thelook_ecommerce.order_items`
  GROUP BY user_id
  ORDER BY rank_sale_price
)
SELECT
  ROUND(AVG(order_count), 2) AS avg_order_count,
  ROUND(AVG(order_item_count), 2) AS avg_order_item_count,
  ROUND(AVG(sum_sale_price), 2) AS avg_sum_sale_price,
  MIN(order_item_count) AS min_order_item_count,
  MIN(sum_sale_price) AS min_sum_sale_price
FROM vvip_list
WHERE percent_rank_sale_price <= 0.1

In [ ]:
### 3.2.1 **주 이용층(구매횟수 기준으로 80%)**

# 주 이용층 목록은 광고를 집행 시 메일 또는 알림을 보낼 경우 효과가
# 있을 수 있는 유저, 가상으로 구매횟수를 기준으로 80% 이내로 잡도록 하겠습니다.

# order_items테이블에서 구매횟수별로 주문수 누적분포를 조회하세요.

# **조회** **항목**

# - 주문수 (order_count)
# - 주문수별 유저 누적분포 (cume_dist_user_count)
#     - cume_dist() over(~~) * 100
#     - 소수점 4자리 까지 표시
#     - 예) 6.2507

WITH list AS (
  SELECT
    user_id,
    COUNT(DISTINCT order_id) AS order_count,
  FROM `thelook_ecommerce.order_items`
  GROUP BY user_id
),
cume_list AS (
  SELECT
    *,
    TRUNC(cume_dist() OVER (
      ORDER BY order_count DESC) * 100, 4) AS cume_dist_user_count
  FROM list
)
SELECT
  DISTINCT
    order_count,
  cume_dist_user_count
FROM cume_list

In [ ]:
### 3.2.2 **유저레벨링(유저 등급) 적용**

# 총 구매금액을 기준으로 10개의 등급으로 나눈 후 각 등급에서 총 구매금액의 최소 금액을
# 조회해 보도록 하겠습니다.

# 1) 유저별 판매금액 합계 목록을 조회 합니다.

# **조회 항목**

# - 유저ID (user_id)
# - 판매금액합계 (sum_sale_price)

SELECT
  user_id,
  ROUND(SUM(sale_price), 2) AS sum_sale_price
FROM `thelook_ecommerce.order_items`
GROUP BY user_id
ORDER BY sum_sale_price DESC

In [ ]:
# 2) 유저별 판매금액 합계기준 10단계 ntile을 구합니다.

# **조회 항목**

# - 유저 ID (user_id)
# - 판매금액 합계 (sum_sale_price)
# - 판매금액 기준 누적분포 (cume_dist_sum_sale_price)
# - ntile

WITH user_sum_sale_prices AS (
  SELECT
    user_id,
    ROUND(SUM(sale_price), 2) AS sum_sale_price,
  FROM `thelook_ecommerce.order_items`
  GROUP BY user_id
)
SELECT *,
  TRUNC(CUME_DIST() OVER( ORDER BY sum_sale_price DESC ) * 100, 4) AS cume_dist_sum_sale_price,
  NTILE(10) OVER( ORDER BY sum_sale_price DESC ) AS ntile
FROM user_sum_sale_prices

In [ ]:
# 3) 각 ntile별 최소판매금액

# **조회 항목**

# - ntile
# - 최소 판매 금액 합계 (min_sum_sale_price)
# - 누적분포 최대값 (max_cume_dist_sum_sale_price)

WITH user_sum_sale_prices AS (
  SELECT
    user_id,
    ROUND(SUM(sale_price), 2) AS sum_sale_price,
  FROM `thelook_ecommerce.order_items`
  GROUP BY user_id
), user_tile_list AS (
  SELECT *,
    TRUNC(CUME_DIST() OVER( ORDER BY sum_sale_price DESC ) * 100, 4) AS cume_dist_sum_sale_price,
    NTILE(10) OVER( ORDER BY sum_sale_price DESC ) AS ntile
  FROM user_sum_sale_prices
)
SELECT
  ntile,
  MIN(sum_sale_price) AS min_sum_sale_price,
  MAX(cume_dist_sum_sale_price) AS max_cume_dist_sum_sale_price
FROM user_tile_list
GROUP BY ntile
ORDER BY ntile